/* ====== bottom sheet module ====== */
.bottom-sheet {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.bottom-sheet.open {
  display: block;
}

.bottom-sheet::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}

.bottom-sheet .sheet-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden auto;
}

.bottom-sheet .sheet-header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  padding: 14px 24px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;
}

.bottom-sheet .sheet-header h3 {
  font-size: 18px;
  font-weight: 700;
}

.bottom-sheet .sheet-header .close-button {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.bottom-sheet .back-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: url(../images/arr_back.svg) no-repeat 50% 50%/24px auto;
  display: none;
}

.bottom-sheet .back-button.active {
  display: block;
}

.bottom-sheet .sheet-contents {
  flex: 1;
  padding: 20px 24px;
}

.bottom-sheet .content-title {
  text-align: left;
}

.bottom-sheet .content-title .desc {
  font-size: 18px;
  font-weight: 500;
  color: #85878c;
}

.bottom-sheet .content-title h4 {
  font-size: 26px;
  font-weight: 700;
}

.bottom-sheet .sheet-wrap.animate-up {
  animation: slide-up 0.3s ease-out;
  text-align: center;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap.animate-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  padding: 20px 12px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: slide-up2 0.3s ease-out;
}

.bottom-sheet .sheet-wrap.animate-down {
  animation: slide-down 0.3s ease-out;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap .emoji {
  font-size: 60px;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap .money-paper {
  width: 210px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  margin: 0 auto;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin: 8px 0;
}

/*.bottom-sheet.sheet-counsel-warn .desc {font-size: 22px; font-weight: 500; line-height: 1.5; color: #85878c;}*/
.bottom-sheet.sheet-counsel-warn .desc {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  color: #ee2d20;
}

.bottom-sheet.sheet-counsel-warn .warn {
  margin: 40px 0 16px;
  font-size: 12px;
  font-weight: 500;
  color: #ee2d20;
}

.bottom-sheet.sheet-counsel-warn .desc .emoji {
  font-size: 22px;
}

.bottom-sheet.sheet-counsel-warn .btn-wrap button {
  background: #EE2D20;
}

.bottom-sheet.sheet-counsel-warn .btn-wrap button + button {
  margin-top: 10px;
  background: #eee;
  color: #aaa;
}

.bottom-sheet.sheet-success h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 20px;
}

.bottom-sheet.sheet-success .info-box {
  display: inline-block;
  padding: 20px;
  border-radius: 16px;
  background: #f8f9fd;
  text-align: left;
  margin-top: 28px;
}

.bottom-sheet.sheet-success .info-box p {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.46;
  color: #323438;
}

.bottom-sheet.sheet-success .sheet-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* formbox */
#inquiry {
  margin-top: 32px;
}

#inquiry .form_box {
  position: relative;
  width: 100%;
}

#inquiry .form_box .input_item + .input_item {
  margin-top: 16px;
}

#inquiry .form_box .input_item p {
  display: flex;
  align-items: flex-start;
  color: #333;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
  letter-spacing: -0.03em;
  line-height: 1.2;
}

#inquiry .form_box .input_item p.reqiured:after {
  display: inline-block;
  content: "*";
  clear: both;
  color: #E8272C;
  font-size: 14px;
  font-weight: bold;
}

/* select */
#inquiry .form_box .select_box {
  position: relative;
  display: flex;
  grid-column-gap: 8px;
}

#inquiry .form_box .select_box.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

#inquiry .form_box .select_box li {
  position: relative;
  flex: 1;
}

#inquiry .form_box .select_box label {
  content: "";
  position: absolute;
  right: 16px;
  top: calc(50% - 3px);
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #D9D9D9;
}

#inquiry .form_box select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 16px;
  color: #333;
  font-size: 16px;
  background: #F8F9FD;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#inquiry .form_box select:focus {
  box-shadow: 4px 4px 8px rgba(232, 39, 44, 0.14);
  border: 1px solid #E8272C;
}

#inquiry .form_box select:focus option {
  background: #fff;
}

#inquiry .form_box select option[value=""][disabled] {
  display: none;
}

#inquiry .form_box select:invalid {
  color: #999;
}

#inquiry .form_box .income {
  position: absolute;
  top: -42px;
  right: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 32px;
  background: #E8272C;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  border-radius: 16px;
}

#inquiry .form_box .income:before {
  position: absolute;
  bottom: -6px;
  left: 16px;
  display: block;
  content: "";
  clear: both;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #E8272C;
  z-index: 2;
}

/* input */
#inquiry .form_box input::-moz-placeholder {
  color: #999;
}
#inquiry .form_box input::placeholder {
  color: #999;
}

#inquiry .form_box input:focus::-moz-placeholder {
  color: #333;
}

#inquiry .form_box input:focus::placeholder {
  color: #333;
}

#inquiry .form_box input[type=text], #inquiry .form_box input[type=tel] {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 16px;
  color: #333;
  font-size: 16px;
  font-family: "Pretendard";
  border-radius: 8px;
  letter-spacing: -0.03em;
  outline: none;
  background: #F8F9FD;
}

#inquiry .form_box input[type=text]:focus, #inquiry .form_box input[type=tel]:focus {
  box-shadow: 4px 4px 8px rgba(232, 39, 44, 0.14);
  border: 1px solid #E8272C;
}

#inquiry .form_box b {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
}

#inquiry .form_box small {
  color: #999;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

/* checkbox */
.privacy-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  border-top: 1px solid #eee;
}

.privacy-box .checkbox-agree {
  padding: 14px 0;
  border-bottom: 1px solid #F0F1F6;
}

.privacy-box div[class^=checkbox-] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 14px auto 0;
}

.privacy-box div[class^=checkbox-] input[type=checkbox] + label {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  color: #777;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.03em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.privacy-box div[class^=checkbox-] input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url(../images/check.svg) no-repeat center/100% auto;
}

.privacy-box [class^=checkbox-] input[type=checkbox]:checked + label {
  color: #222;
  font-weight: 700;
}

.privacy-box [class^=checkbox-] input[type=checkbox]:checked + label:before {
  background-image: url(../images/checked.svg);
}

.privacy-box .btn_privacy {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/arr_right.svg) no-repeat 0 0/100% auto;
  text-indent: -999em;
}

/* PC */
@media screen and (min-width: 768px) {
  img.profile {
    width: 80px;
  }
  .desc {
    font-size: 22px;
  }
  .button {
    font-size: 20px;
  }
  .web-view {
    display: none;
  }
  .mob-view {
    display: block;
  }
  /* ====== header ====== */
  .hamburger-icon {
    width: 32px;
    height: 32px;
  }
  .hamburger-icon span::before {
    top: -10px;
  }
  .hamburger-icon span::after {
    bottom: -10px;
  }
  /* ====== bottom sheet module ====== */
  .bottom-sheet .sheet-wrap {
    max-width: 720px;
    margin: 0 auto;
  }
}
/* ====== animation ====== */
@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-up2 {
  0% {
    transform: translateY(100%) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes line-step {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}/*# sourceMappingURL=A_Type.css.map */