.wrap{
  .contents{
    position: relative;

    img{

      &.mb_img{
        display: none;
      }

      @media(max-width:768px){
        display: none;

        &.mb_img{
          display: block;
        }
      }
    }

    .button{
      width: 24%;
      height: 8%;
      position: absolute;
      left: 50%;
      bottom: 18%;
      margin-left: -12%;
      text-indent: -10000rem;
      background: none;

      @media(max-width:768px){
        width: 40%;
        height: 8%;
        margin-left: -20%;
      }
    }
  }
}

.btn-ask{
  .inner{
    .button{
      width: 50%;
      margin-left: -25%;
    }

    img{

      &.mb_img{
        display: none;
      }

      @media(max-width:768px){
        display: none;

        &.mb_img{
          display: block;
        }
      }
    }
  }
}