/* prettier-ignore */
/* ====== basic ====== */
body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.04em;
    color: #222;
    text-align: center;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.web-view {
    display: block;
}

.mob-view {
    display: none;
}

/* ====== common ====== */
.emoji {
    font-family: "Noto Color Emoji", sans-serif;
}

.screen-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.text-left {
    text-align: left;
}

.text-red {
    color: #EE3823 !important;
}

.text-gray {
    color: #85878C !important;
}

.desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #888;
}

img.center {
    display: inline-block;
    margin: 0 auto;
}

img.profile {
    width: 36px;
    height: auto;
    margin-right: 12px;
}

[class^="box-"] {
    display: inline-block;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

.inner {
    padding: 0 18px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ====== badge ====== */
.badge-circle {
    display: inline-block;
    border-radius: 100%;
    padding: 5px;
    background: #fff;
    text-align: center;
}

/* ====== icon ====== */
[class^="icon-"] {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.icon-bag {
    background-image: url(../images/icon-1.png);
}

.icon-apron {
    background-image: url(../images/icon-2.png);
}

.icon-store {
    background-image: url(../images/icon-3.png);
}

.icon-coin {
    background-image: url(../images/icon-4.png);
}

.icon-money {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-money.svg);
    margin-right: 8px;
}

.icon-down {
    width: 45px;
    height: 45px;
    background-image: url(../images/icon_down.svg);
}

.icon-gift {
    width: 45px;
    height: 45px;
    background-image: url(../images/icon_gift.svg);
}


/* ====== header ====== */
.header {
    position: fixed;
    width: 100%;
    padding: 15px 18px 15px;
    z-index: 5;
    background-color: #fff;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header .logo {
    background: url('../images/img_logo_color.png') no-repeat center / 100% auto;
}

.header .logo img {
    max-height: 20px;
    opacity: 0;
}

.header .hamburger-icon span,
.header .hamburger-icon span::before,
.header .hamburger-icon span::after {
    background-color: #222;
}

/* hamburger */
.hamburger-icon {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.hamburger-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 0;
    transition: transform 0.3s ease;
}

.hamburger-icon span::before,
.hamburger-icon span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: transform 0.3s ease;
}

.hamburger-icon span::before {
    top: -6px;
}

.hamburger-icon span::after {
    bottom: -6px;
}

.open .hamburger-icon {
    z-index: 10;
}

.open .hamburger-icon span {
    transform: rotate(45deg);
    background-color: #222;
}

.open .hamburger-icon span::before {
    top: 0;
    transform: rotate(90deg);
    background-color: #222;
}

.open .hamburger-icon span::after {
    bottom: 0;
    transform: rotate(90deg);
    background-color: #222;
}

/* nav */
.header .nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 60px 30px;
    background-color: #fff;
    z-index: 5;
}

.header .open + .nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav ul {
    text-align: center;
}

.header .nav ul li + li {
    margin-top: 24px;
}

.header .nav ul li a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 4px;
}

.header .nav ul li:hover a {
    font-weight: 600;
    color: #EE2D20;
}

.header .nav ul li:not(:first-child):hover {
    background: linear-gradient(to top, #FFEBE5 50%, #fff 50%);
}

.header .nav .logo {
    display: inline-block;
    width: 144px;
    height: 30px;
    margin: 0 auto;
    text-indent: -999em;
    overflow: hidden;
    background: url(../images/img_logo_color.png) no-repeat 0 0 / 100% auto;
}


/* ====== footer ====== */
.footer {
    padding: 30px 18px;
    background-color: #F7F8FA;
    color: #888;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #e5e5e5;
}

.footer .company-info {
    margin-bottom: 20px;
}

.footer .company-info strong {
    display: block;
    margin-bottom: 10px;
}

/* ====== icon ====== */
i[class^="icon-"] {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
    text-indent: -999em;
}

.icon-clock {
    width: 20px;
    height: 24px;
    background-image: url(../images/clock_gray.png);
    margin-right: 4px;
    margin-top: -6px;
    vertical-align: text-bottom;
}

.icon-success {
    width: 72px;
    height: 72px;
    background-image: url(../images/icon_success.svg);
    margin: 0 auto;
}

/* ====== button ====== */
.button {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 17px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #242628;
}

.button.dark {
    background: #242628 !important;
}

.button.dark[disabled] {
    background: #E8E8E8 !important;
}

.button i {
    display: inline-block;
    vertical-align: middle;
}

.fixed-btn {
    position: relative;
    display: block;
    transition: all 1s;
    margin-top: 22px;
}

.fixed-btn.floating {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.fixed-btn .button {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 720px;
    background: #EE2D20;
}

.fixed-btn.floating.hide {
    opacity: 0;
    pointer-events: none;
}

/* ====== list ====== */
.list-dot li {
    position: relative;
    font-size: 15px;
    padding-left: 12px;
    color: #85878c;
}

.list-dot li::before {
    content: '';
    position: absolute;
    left: 1px;
    top: 0.53em;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #85878c;
}


/* ====== bubble ====== */
.bubble-box {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    background: #F8F9FD;
    padding: 20px;
    border-radius: 20px;
}

.bubble-box::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 14px;
    background: url(../images/bubble_tale.png) no-repeat bottom center / 100% auto;
}

.bubble-box .strong {
    font-size: 18px;
    font-weight: 700;
}

/* ====== bottom sheet module ====== */
.bottom-sheet {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.bottom-sheet.open {
    display: block;
}

.bottom-sheet::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.bottom-sheet .sheet-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden auto;
}


.bottom-sheet .sheet-header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    padding: 14px 24px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 2;
}

.bottom-sheet .sheet-header h3 {
    font-size: 18px;
    font-weight: 700;
}

.bottom-sheet .sheet-header .close-button {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.bottom-sheet .back-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: url(../images/arr_back.svg) no-repeat 50% 50% / 24px auto;
    display: none;
}

.bottom-sheet .back-button.active {
    display: block;
}

.bottom-sheet .sheet-contents {
    flex: 1;
    padding: 20px 24px;
}

.bottom-sheet .content-title {
    text-align: left;
}

.bottom-sheet .content-title .desc {
    font-size: 18px;
    font-weight: 500;
    color: #85878c;
}

.bottom-sheet .content-title h4 {
    font-size: 26px;
    font-weight: 700;
}

.bottom-sheet .sheet-wrap.animate-up {
    animation: slide-up 0.3s ease-out;
    text-align: center;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap.animate-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    padding: 20px 12px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    animation: slide-up2 0.3s ease-out;
}

.bottom-sheet .sheet-wrap.animate-down {
    animation: slide-down 0.3s ease-out;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap .emoji {
    font-size: 60px;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap .money-paper {
    width: 210px;
    height: 90px;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
}

.bottom-sheet.sheet-counsel-warn .sheet-wrap h5 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    margin: 8px 0;
}

/*.bottom-sheet.sheet-counsel-warn .desc {font-size: 22px; font-weight: 500; line-height: 1.5; color: #85878c;}*/
.bottom-sheet.sheet-counsel-warn .desc {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: #ee2d20;
}

.bottom-sheet.sheet-counsel-warn .warn {
    margin: 40px 0 16px;
    font-size: 12px;
    font-weight: 500;
    color: #ee2d20;
}

.bottom-sheet.sheet-counsel-warn .desc .emoji {
    font-size: 22px;
}

.bottom-sheet.sheet-counsel-warn .btn-wrap button {
    background: #EE2D20;
}

.bottom-sheet.sheet-counsel-warn .btn-wrap button + button {
    margin-top: 10px;
    background: #eee;
    color: #aaa;
}

.bottom-sheet.sheet-success h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 20px;
}

.bottom-sheet.sheet-success .info-box {
    display: inline-block;
    padding: 20px;
    border-radius: 16px;
    background: #f8f9fd;
    text-align: left;
    margin-top: 28px;
}

.bottom-sheet.sheet-success .info-box p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.46;
    color: #323438;
}

.bottom-sheet.sheet-success .sheet-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* formbox */
#inquiry {
    margin-top: 32px;
}

#inquiry .form_box {
    position: relative;
    width: 100%;
}

#inquiry .form_box .input_item + .input_item {
    margin-top: 16px;
}

#inquiry .form_box .input_item p {
    display: flex;
    align-items: flex-start;
    color: #333;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: bold;
    letter-spacing: -0.03em;
    line-height: 1.2;
}

#inquiry .form_box .input_item p.reqiured:after {
    display: inline-block;
    content: '*';
    clear: both;
    color: #E8272C;
    font-size: 14px;
    font-weight: bold;
}

/* select */
#inquiry .form_box .select_box {
    position: relative;
    display: flex;
    grid-column-gap: 8px;
}

#inquiry .form_box .select_box.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#inquiry .form_box .select_box li {
    position: relative;
    flex: 1;
}

#inquiry .form_box .select_box label {
    content: '';
    position: absolute;
    right: 16px;
    top: calc(50% - 3px);
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #D9D9D9;
}

#inquiry .form_box select {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
    color: #333;
    font-size: 16px;
    background: #F8F9FD;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#inquiry .form_box select:focus {
    box-shadow: 4px 4px 8px rgba(232, 39, 44, 0.14);
    border: 1px solid #E8272C;
}

#inquiry .form_box select:focus option {
    background: #fff;
}

#inquiry .form_box select option[value=""][disabled] {
    display: none;
}

#inquiry .form_box select:invalid {
    color: #999;
}

#inquiry .form_box .income {
    position: absolute;
    top: -42px;
    right: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 32px;
    background: #E8272C;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    border-radius: 16px;
}

#inquiry .form_box .income:before {
    position: absolute;
    bottom: -6px;
    left: 16px;
    display: block;
    content: '';
    clear: both;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #E8272C;
    z-index: 2;
}


/* input */
#inquiry .form_box input::placeholder {
    color: #999;
}

#inquiry .form_box input:focus::placeholder {
    color: #333;
}

#inquiry .form_box input[type="text"], #inquiry .form_box input[type="tel"] {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
    color: #333;
    font-size: 16px;
    font-family: "Pretendard";
    border-radius: 8px;
    letter-spacing: -0.03em;
    outline: none;
    background: #F8F9FD;
}

#inquiry .form_box input[type="text"]:focus, #inquiry .form_box input[type="tel"]:focus {
    box-shadow: 4px 4px 8px rgba(232, 39, 44, 0.14);
    border: 1px solid #E8272C;
}

#inquiry .form_box b {
    display: flex;
    align-items: center;
    grid-column-gap: 8px;
}

#inquiry .form_box small {
    color: #999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

/* checkbox */
.privacy-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 28px;
    border-top: 1px solid #eee;
}

.privacy-box .checkbox-agree {
    padding: 14px 0;
    border-bottom: 1px solid #F0F1F6;
}

.privacy-box div[class^="checkbox-"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 14px auto 0;
}

.privacy-box div[class^="checkbox-"] input[type="checkbox"] + label {
    display: flex;
    width: fit-content;
    align-items: center;
    color: #777;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.privacy-box div[class^="checkbox-"] input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url(../images/check.svg) no-repeat center / 100% auto;
}

.privacy-box [class^="checkbox-"] input[type="checkbox"]:checked + label {
    color: #222;
    font-weight: 700;
}

.privacy-box [class^="checkbox-"] input[type="checkbox"]:checked + label:before {
    background-image: url(../images/checked.svg);
}

.privacy-box .btn_privacy {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/arr_right.svg) no-repeat 0 0 / 100% auto;
    text-indent: -999em;
}


.calc-step-wrap {
    display: none;
    height: 100%;
}

#sheet-calc .button {
    background: #EE3823;
    margin-top: 16px;
}

#calc-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#calc-main .text img {
    max-width: 160px;
    margin: 0 auto;
}

#calc-main .desc {
    margin-top: 28px;
    font-size: 16px;
    color: #888;
}

#calc-main h3 {
    font-size: 28px;
    font-weight: 700;
    color: #222;
}

#calc-main .btn-wrap {
    margin-top: 100px;
}

#sheet-calc .calc-step-wrap .calc-title {
    text-align: left;
    padding-top: 40px;
}

#sheet-calc .calc-step-wrap .calc-title h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

#sheet-calc .calc-step-wrap .calc-title .icon-money {
    width: 48px;
    height: 48px;
}

#sheet-calc .calc-step-wrap .calc-list {
    margin-top: 50px;
    text-align: left;
}

#sheet-calc .calc-step-wrap .calc-list li a {
    padding: 20px 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}

#sheet-calc .calc-step-wrap .calc-list li:hover a {
    background-color: #F8F9FD;
}

#sheet-calc .calc-step-wrap .calc-list li + li {
    margin-top: 12px;
}

#sheet-calc .calc-step-wrap .calc-list li small {
    font-size: 14px;
    font-weight: 400;
    color: #E8272C;
}

#sheet-calc .step-last .calc-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#sheet-calc .step-last .calc-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

#sheet-calc .step-last .img-box {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 20px 0;
}

#sheet-calc .step-last .img-box p:not(.desc) {
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
}

#sheet-calc .step-last .text {
    margin-top: 60px;
}

#sheet-calc .step-last .badge {
    display: inline-block;
    border-radius: 100px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    background: #FEECE9;
    color: #E8272C;
}

#sheet-calc .step-last .btn-wrap {
    text-align: center;
}

#sheet-calc .step-last .calc-title h4 {
    margin-top: 12px;
    margin-bottom: 8px;
}

#sheet-calc .step-last .calc-title h4 + .desc {
    line-height: 1;
    font-weight: 400;
}

/* 개인정보 동의팝업 */

/* button */
#inquiry .area_button {
    margin: 36px auto 0;
}

#inquiry .area_button button {
    background: #E8272C;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

#inquiry .area_button button:disabled {
    opacity: .5;
}

#inquiry .area_button .submit_desc {
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 10px 0;
}

/* ====== balloon-box ====== */
.balloon-box {
    margin: 30px auto 0;
}

.balloon-box p {
    width: fit-content;
    margin: 0 auto;
    padding: 5px 12px;
    background-color: #222;
    border-radius: 50em;
    font-size: 12px;
    color: #fff;
}

.balloon-box.pink p {
    background-color: #FEECE9;
    color: #222;
}

.balloon-box.blue p {
    background-color: #EEF8FE;
    color: #222;
}

.section-visual .balloon-box {
    padding-bottom: 28px;
}

.section-visual .balloon-box p {
    position: relative;
    background: #333;
}

.section-visual .balloon-box p::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: -7px;
    width: 20px;
    height: 20px;
    background: url(../images/bubble_arr-dark.png) no-repeat 0 0 / 100% auto;
}

.section-visual .balloon-box p b {
    margin-left: 8px;
}

.balloon-box.pink p b {
    color: #EE3823;
}

.balloon-box.blue p b {
    color: #2082F0;
}

/* ====== badge ====== */
/* [class^="badge-"] {display: inline-block; border-radius: 80px; background: var(--dark-gray); padding: 8px 20px;} */

/* ====== section module ====== */
.section {
    padding: 80px 0 60px;
}

.section .title-box {
    text-align: center;
}

.section .title-box .title {
    font-size: 28px;
    line-height: 1.46;
    font-weight: 700;
    color: #222;
}

.section .title-box .subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #888;
    margin-bottom: 8px;
}

.section .title-box + .icon {
    margin-top: 40px;
    margin-bottom: 34px;
}

.section .title-box + .icon img {
    max-width: 140px;
    margin: 0 auto;
}

/* ====== section-visual ====== */
.section-visual {
    padding: 72px 0 0;
}

.section-visual .inner.top {
    background: linear-gradient(to top, #fff 2%, #FFEBE4 14%, #fff 40%)
}

.section-visual .visual-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #323438;
}

.section-visual .visual-money {
    margin-top: 18px;
}

.section-visual .clock-txt {
    display: inline-block;
    margin: 0 6px;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    line-height: 1.19;
    font-weight: 700;
    color: #fff;
    background: #EE2D20;
}

.section-visual .badge-outline {
    display: inline-block;
    margin: 10px auto 0;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;
    border-radius: 80px;
    color: #EE2D20;
    background: #fff;
    border: 1px solid #EE2D20;
}

.section-visual .money-img img {
    object-fit: contain;
    text-align: center;
    width: 57%;
    margin: -30px auto -30px;
    max-width: 210px;
}

.section-visual .money-txt {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.section-visual .money-txt p:first-child {
    color: #EE2D20;
}

.section-visual .money-txt p:first-child span {
    font-size: 18px;
    line-height: 1.6;
}

.section-visual .member-list {
    position: relative;
    height: 78px;
    flex-direction: column;
    overflow: hidden;
}

.section-visual .visual-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
}

.section-visual .visual-card-contents {
    flex: 1;
    display: flex;
    align-items: center;
}

.section-visual .people .name {
    text-align: left;
    font-weight: 700;
    color: #323438;
}

.section-visual .people .group {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #85878C;
}

.section-visual .money {
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(to top, #FFEBE5 50%, #fff 50%);
}

.section-visual .money b {
    font-size: 24px;
    color: #EE2D20;
}

.section-visual .scroll-indicator {
    margin: 14px auto 0;
}

.section-visual .scroll-indicator .text {
    font-size: 14px;
    color: #85878C;
}

.section-visual .scroll-indicator .arrow {
    display: inline-block;
    margin: 7px auto 0;
    animation: pulse 2s infinite;
}

.section-visual .scroll-indicator .arrow svg {
    width: 10px;
    height: 10px;
}


/* ====== section-calc ====== */
.section-calc {
    background: #F8F9FD;
}

.section-calc .title-box .title {
    margin: 0 auto 16px;
}

.section-calc .button {
    margin-top: 16px;
}

/* ====== section-story ====== */
.section-story .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-story .title-box .icon img {
    height: 40px;
}

.section-story .bubble-box .strong {
    margin-bottom: 8px;
}

/* video */
.player-wrap {
    margin-top: 40px;
}

.player-wrap .player {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

.player-wrap .player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player-wrap .player-txt {
    margin-top: 20px;
}


/* chart-wrap */
.section-calc .chart-wrap {
    margin: 40px auto;
    padding: 40px;
    border-radius: 8px;
    background-color: #FFF;
}

.section-calc .chart-wrap .title-box .subtitle {
    margin: 0 auto;
    font-size: 16px;
    color: #666;
}

.section-calc .chart-wrap .title-box .title {
    font-size: 20px;
}

.section-calc .chart-wrap .chart-box {
    margin: 76px auto 0;
}

.section-calc .chart-wrap .chart-box ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.section-calc .chart-wrap .chart-box li {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 68px;
    height: 140px;
    background-color: transparent;
    border-radius: 8px;
}

.section-calc .chart-wrap .chart-box li:nth-child(2)::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px dotted #EE3823;
}

.section-calc .chart-wrap .chart-box .tip {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    font-size: 10px;
    font-weight: 700;
    border-radius: 4px;
    background: #FEECE9;
}

.section-calc .chart-wrap .chart-box .tip::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 12px;
    height: 6px;
    background: url(../images/arr_label.svg) no-repeat 0 0 / 100% auto;
}

/* member */
.section-calc .member .title-box .title {
    font-size: 20px;
}

.section-calc .member-list ul li .card {
    position: relative;
    padding: 24px 20px;
    border-radius: 12px;
    background-color: #fff;
    text-align: left;
}

.section-calc .member-list ul li:nth-child(1) .badge-circle {
    background: #FFD5B7;
}

.section-calc .member-list ul li:nth-child(2) .badge-circle {
    background: #FFE5E2;
}

.section-calc .member-list ul li:nth-child(3) .badge-circle {
    background: #F7F8FA;
}

.section-calc .member-list ul li:nth-child(4) .badge-circle {
    background: #FFFBEA;
}

.section-calc .member-list ul li .card .text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.section-calc .member-list ul li .card .job {
    color: #666;
}

.section-calc .member-list ul li .card .money {
    margin-top: 6px;
    color: #222;
}

.section-calc .member-list ul li .card .money b {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/* animate */
.section-calc .chart-wrap .chart-box li .bar {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    color: #666;
    background-color: #F2F3F4;
    animation: slide-up 1.5s ease;
    transition: height 1.5s ease;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10px;
}

.section-calc .chart-wrap .chart-box li:nth-child(2) .bar {
    background: #EE3823;
    color: #fff;
}

.section-calc .chart-wrap .chart-box li:nth-child(1).active .bar {
    height: 100%;
}

.section-calc .chart-wrap .chart-box li:nth-child(2).active .bar {
    height: 60%;
}

/* review */
.section-story .review {
    position: relative;
    margin-top: 60px;
}

.section-story .review ul li {
    padding: 30px 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    text-align: left;
}

.section-story .review .profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.section-story .review .profile .thumbnail {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.section-story .review .profile .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-story .review .profile .text .job span {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    color: #666;
    background: #F2F3F4;
    border-radius: 80px;
}

.section-story .review .profile .text .info {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.section-story .review .profile .text .name {
    font-size: 16px;
    font-weight: 700;
}

.section-story .review .profile .text .desc {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #24B58C;
    margin-left: 10px;
    padding-left: 10px;
}

.section-story .review .profile .text .desc::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 1px;
    height: 50%;
    vertical-align: middle;
    background: #E8E8E8;
}

.section-story .review .article {
    margin-top: 20px;
}

.section-story .review .article .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section-story .review .article .text p {
    font-size: 14px;
    line-height: 1.75em;
    color: #666;
}

.section-story .review .swiper-pagination {
    position: static;
    margin: 20px auto 0;
}

.section-story .review .swiper-pagination .swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 10em;
    background-color: #EE3823;
}

/* ====== section-steps ====== */
.section-steps ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65.42%;
    max-width: 236px;
    margin: 0 auto;
    margin-top: 40px;
}

.section-steps ol li {
    width: 100%;
}

.section-steps ol li .content {
    display: flex;
    align-items: center;
    text-align: left;
}

.section-steps ol li .step-img {
    position: relative;
    flex: 0 0 27.2%;
    text-align: center;
}

.section-steps ol li .step-img.line-img {
    height: 65px;
}

.section-steps ol li .step-img .line {
    display: inline-block;
    width: 2px;
    height: 100%;
    margin: 0 auto;
    background: #f2f3f4;
    animation: line-step 2s linear;
}

.section-steps ol li .step-txt {
    padding-left: 12px;
}

.section-steps ol li .step-txt p:last-child {
    font-size: 18px;
    font-weight: 700;
}

/* ====== section-partners ====== */
.section-partners img {
    margin: 0 auto;
}

.section-partners .article {
    border-radius: 20px;
    border: 1px solid #eee;
    overflow: hidden;
}

.section-partners .bubble-box .strong {
    margin-top: 8px;
}


/* title*/
.section-partners .title-box .chip {
    margin: 0 auto 12px;
    width: fit-content;
    padding: 4px 16px;
    background-color: #EE3823;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 10em;
}

/* contents */
.section-partners .contents-box {
    margin: 0 auto;
    border-radius: 12px;
}

.section-partners .article:not(.article-partners) .text-box {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    padding: 20px 0;
}

.section-partners .contents-box .round-button-box {
    margin-bottom: 20px
}

.section-partners .contents-box .round-button-box span {
    padding: 10px;
    border-radius: 30px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: calc(16px + 0.5vw);
    width: 55%;
    text-align: center;
    min-width: 224px;
    cursor: pointer;
}

.section-partners .article-study .round-button-box span {
    background: #EE3823;
}

.section-partners .article-support .round-button-box span {
    background: #3DAF97;
}

.section-partners .article-mento .text-box span {
    color: #F7901E;
}

.section-partners .article-study .text-box span {
    color: #EE3823;
}

.section-partners .article-support .text-box span {
    color: #3DAF97;
}


/* button */
.section-partners .button-box {
    margin: 30px auto 0;
    text-align: center;
}

.section-partners .button-box .text {
    margin: 16px 0;
    font-size: 14px;
    color: #888;
}

.section-partners .button-box .button {
    display: flex;
    margin: 0 auto;
    padding: 16px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 10em;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

/* article */
.section-partners .article-partners {
    margin-top: 40px;
    background: #F7F8FA;
    border-color: transparent;
    padding: 15px;
    padding-top: 40px;
}

.section-partners .article-partners .text-box .text {
    font-size: 20px;
    color: #EE3823;
}

.section-partners .article-partners .text-box .desc {
    margin-top: 8px;
    font-size: 16px;
}


.section-partners .article .contents-box {
    margin-top: 0;
}

.section-partners .article + .article {
    margin-top: 40px;
}

.section-partners .partners-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.section-partners .partners-list li {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 24px;
}

.section-partners .badge-circle {
    padding: 12px;
    margin-bottom: 16px;
}

.section-partners .badge-circle i {
    width: 40px;
    height: 40px;
}

.section-partners .partners-list li p {
    font-size: 16px;
}

.section-partners .partners-list li .job {
    color: #666;
}

.section-partners .partners-list li .job + p {
    margin-top: 4px;
    font-weight: 700;
}

.section-partners .partners-list li .job + p b {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

/* bottom sheet */

.sheet-counsel .tab-list {
    position: sticky;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    padding: 0 18px;
    border-bottom: 1px solid #DDD;
    background-color: #fff;
    z-index: 2;
}

.sheet-counsel .tab-list .tablinks {
    position: relative;
    padding: 16px 0;
    font-size: 16px;
    color: #888;
}

.sheet-counsel .tab-list .tablinks.active {
    color: #222;
    font-weight: 700;
}

.sheet-counsel .tab-list .tablinks.active::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #222;
}

.sheet-counsel .tab-content {
    display: none;
    flex-direction: column;
    gap: 60px;
    padding: 30px 18px 60px;
}

.sheet-counsel .tab-content.current {
    display: flex;
}

.sheet-counsel .tab-schedule .calendar .title-box {
    margin-bottom: 20px;
    text-align: left;
}

.sheet-counsel .tab-schedule .calendar .title-box p {
    font-size: 20px;
    font-weight: 700;
}

.sheet-counsel .tab-info .text-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sheet-counsel .tab-info .text-box dt {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 700;
}

.sheet-counsel .tab-info .text-box dd {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.75em;
}

.sheet-counsel .tab-info .text-box dd::before {
    content: '•';
    position: absolute;
    left: 4px;
    line-height: 1.6em;
}


/* ====== section-contact ====== */
.section-contact {
    background-color: #FFF8F3;
}

.section-contact .button {
    margin-top: 16px;
}

/* title */
.section-contact .title-box .icon {
    font-size: 32px;
    line-height: 1;
}

.section-contact .title-box .title {
    margin-top: 8px;
    font-size: 28px;
    line-height: 1.46;
}

.section-contact .title-box .subtitle {
    font-size: 16px;
    color: #EE3823;
    font-weight: 500;
}

.section-contact .desc.btm {
    font-weight: 400;
    margin-top: 14px;
}

/* 동의 자세히보기 */
.sheet-agree .sheet-header {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.sheet-agree .sheet-header > * {
    padding-right: 20px;
}

.sheet-agree .sheet-header .desc {
    width: 100%;
    font-size: 16px !important;
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid #888;
}

.sheet-agree .terms-desc {
    padding: 0;
    text-align: left;
}

.sheet-agree .terms-desc .desc-wrap + .desc-wrap {
    margin-top: 20px;
}

.sheet-agree .terms-desc .desc-wrap h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sheet-agree .terms-desc .desc-wrap .notice {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}

.sheet-agree .terms-desc .desc-wrap p {
    color: #979797;
    padding-left: 20px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.05em;
}

.sheet-agree .terms-desc .desc-wrap p b {
    position: relative;
    display: flex;
    align-items: center;
    color: #555;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
}

.sheet-agree .terms-desc .desc-wrap .notice b:before {
    position: absolute;
    left: -16px;
    display: block;
    content: '';
    clear: both;
    width: 4px;
    height: 4px;
    background: #555;
    border-radius: 100%;
}

.sheet-agree .terms-desc .desc-wrap .use {
    padding: 20px;
    background: #f1f1f1;
    border-radius: 8px;
}

.sheet-agree .terms-desc .desc-wrap .use b {
    display: block;
    color: #333;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
}

.sheet-agree .terms-desc .desc-wrap .use p {
    color: #333;
    padding-left: 0;
}

.sheet-agree .terms-desc .agreement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    margin: 14px 0;
}

.sheet-agree .terms-desc .agreement .privacy-check {
    display: flex;
    align-items: center;
}

.sheet-agree .terms-desc .agreement input[type="radio"] + label {
    display: flex;
    width: fit-content;
    align-items: center;
    color: #555;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.sheet-agree .terms-desc .agreement input[type="radio"] + label span {
    margin-right: 6px;
    padding: 2px 10px;
    background: #23A6D2;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.05em;
    border-radius: 11px;
}

.sheet-agree .terms-desc .agreement input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 8px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="21" fill="none"><path fill="%23DDD" d="M22.192 1.2 9.584 14.728l-5.78-6.2a2.123 2.123 0 0 0-3.15 0c-.872.935-.872 2.448 0 3.382L8.008 19.8c.417.448.985.7 1.576.7.592 0 1.158-.252 1.577-.7L25.347 4.582c.87-.934.87-2.447 0-3.381a2.122 2.122 0 0 0-3.152 0h-.003Z"/></svg>') no-repeat center / auto 8px #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sheet-agree .terms-desc .agreement input[type="radio"]:checked + label:before {
    content: '';
    display: inline-block;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" fill="none"><path fill="%23fff" fill-rule="evenodd" d="M3.172 6.485 4.586 7.9l5.657-5.657L8.829.829 4.586 5.07 1.758 2.242.343 3.657l2.829 2.828Z" clip-rule="evenodd"/></svg>') no-repeat center / auto 8px, #333;
    border: 1px solid #333;
}


.sheet-agree .counsel-notice {
    margin: 16px 0 24px;
    justify-content: center;
}

.sheet-agree .counsel-notice p {
    word-break: keep-all;
}

.sheet-agree .counsel-notice > img {
    width: 100%;
    max-width: 272px;
}

.sheet-agree .terms-desc .desc-wrap .counsel-notice p {
    max-width: 100%;
    padding-left: 0;
    color: #555;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.05em;
    font-weight: bold;
}

.sheet-agree .counsel-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 10px;
}

.sheet-agree .counsel-desc img {
    position: static;
}

.sheet-agree.sheet-agreement2 .counsel-notice {
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.sheet-agree.sheet-agreement2 .counsel-notice .counsel-desc {
    justify-content: space-between;
}


/* PC */
@media screen and (min-width: 768px) {
    img.profile {
        width: 80px;
    }

    .desc {
        font-size: 22px;
    }

    .button {
        font-size: 20px;
    }

    .web-view {
        display: none;
    }

    .mob-view {
        display: block;
    }

    /* ====== header ====== */
    .inner {
        max-width: 760px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header .inner {
        max-width: 720px;
        margin: 0 auto;
        padding: 0;
    }

    .header .logo img {
        max-height: 40px;
    }

    .hamburger-icon {
        width: 32px;
        height: 32px;
    }

    .hamburger-icon span::before {
        top: -10px;
    }

    .hamburger-icon span::after {
        bottom: -10px;
    }

    .header .nav .logo {
        width: 260px;
        height: 40px;
    }

    .header .nav ul li a {
        font-size: 30px;
        padding: 0 8px;
    }

    /* ====== footer ====== */
    .footer {
        padding: 40px 32px;
        font-size: 14px;
    }

    /* ====== bottom sheet module ====== */
    .bottom-sheet .sheet-wrap {
        max-width: 720px;
        margin: 0 auto;
    }

    /* ====== balloon-box ====== */
    .balloon-box p {
        font-size: 16px;
    }

    .bubble-box .strong {
        font-size: 24px;
    }

    /* ====== section module ====== */
    .section {
        padding: 120px 0 120px;
    }

    .section .title-box .title {
        font-size: 40px;
    }

    .section .title-box .subtitle {
        font-size: 26px;
    }

    .section .title-box + .icon {
        margin-top: 40px;
        margin-bottom: 54px;
    }

    .section .title-box + .icon img {
        max-width: 280px;
    }

    /* ====== section-visual ====== */
    .section-visual {
        padding-bottom: 0;
    }

    .section-visual .visual-title {
        font-size: 40px;
    }

    /*.section-visual .inner.top {background-color:linear-gradient(to top, #FFF 1%,#FFEBE4 21%, #fff 54%)}*/
    .section-visual .inner.top {
        background: linear-gradient(to top, #FFF 1%, #FFEBE4 21%, #fff 54%);
    }

    .section-visual .clock-txt {
        font-size: 32px;
    }

    .section-visual .money-txt {
        font-size: 40px;
    }

    .section-visual .money-txt p:first-child span {
        font-size: 26px;
    }

    .section-visual .badge-outline {
        display: inline-block;
        margin-top: 8px;
    }

    .section-visual .member-list {
        height: 120px;
    }

    .section-visual .visual-card {
        padding: 24px;
        border-radius: 16px;
    }

    .section-visual .people p {
        font-size: 16px !important;
    }

    .section-visual .people p.name {
        font-size: 22px !important;
    }

    .section-visual .money {
        font-size: 24px;
    }

    .section-visual .money b {
        font-size: 28px;
    }

    .section-visual .scroll-indicator {
        margin: 80px auto 0;
    }

    .section-visual .scroll-indicator .text {
        font-size: 16px;
        line-height: 1.75em;
    }

    .section-visual .scroll-indicator .arrow {
        margin: 30px auto 0;
    }

    .section-visual .scroll-indicator .arrow svg {
        width: 20px;
        height: 12px;
    }

    /* ====== section-calc ====== */
    .section-calc .member .title-box {
        margin: 60px auto;
    }

    .section-calc .member .title-box .icon {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .section-calc .member .title-box .title {
        font-size: 24px;
    }

    .section-calc .member-list ul li {
        padding: 24px;
    }

    .section-calc .member-list ul li .chip {
        left: 20px;
        top: 20px;
        padding: 4px 8px;
        font-size: 12px;
    }

    .section-calc .member-list ul li .name {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
    }

    .section-calc .chart-wrap .title-box .subtitle {
        font-size: 20px;
    }

    .section-calc .chart-wrap .title-box .title {
        font-size: 24px;
    }

    .section-calc .chart-wrap .chart-box li {
        width: 136px;
        height: 280px;
    }

    .section-calc .chart-wrap .chart-box li .bar {
        font-size: 18px;
        padding-top: 10px;
    }

    .section-calc .chart-wrap .chart-box .tip {
        display: inline-block;
        width: max-content;
        padding: 8px;
        font-size: 16px;
    }

    .section-calc .chart-wrap .chart-box .tip::after {
        width: 24px;
        height: 8px;
    }

    /* ====== section-steps ====== */
    .section-steps {
        padding-bottom: 80px;
    }

    .section-steps ol {
        max-width: 380px;
        width: 100%;
    }

    .section-steps ol li .step-txt {
        padding-left: 24px;
    }

    .section-steps ol li .step-txt p:last-child {
        font-size: 26px;
    }


    /* ====== section-partner ====== */
    .section-partners .partners-list li {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .section-partners .article-partners .text-box .text {
        font-size: 24px;
    }

    .section-partners .article-partners .text-box .desc {
        font-size: 18px;
    }

    .section-partners .article:not(.article-partners) .text-box {
        font-size: 26px;
    }

    .section-partners .contents-box .round-button-box span {
        padding: 15px;
    }

    /* ====== section-story ====== */
    .section-story .review .profile .text .job span {
        font-size: 16px;
    }

    .section-story .review .profile .text .info {
        margin-top: 8px;
    }

    .section-story .review .profile .text .name,
    .section-story .review .profile .text .desc {
        font-size: 16px;
    }

    .section-story .review .article .text p {
        font-size: 16px;
        line-height: 1.5;
    }

    /* video */
    .player-wrap {
        margin-top: 40px;
    }

    .section-story .review {
        overflow: hidden;
    }

    .section-story .review .article {
        margin-top: 40px;
    }

    .section-story .review .profile {
        gap: 24px;
    }

    .section-story .review .profile .thumbnail {
        width: 96px;
        height: 96px;
        flex-shrink: 0;
    }

    /* ====== section-contact ====== */
    .section-contact .title-box .icon {
        font-size: 40px;
    }

    .section-contact .title-box .title {
        margin: 10px auto 20px;
        font-size: 40px;
    }

    .section-contact .title-box .title span {
        font-size: 24px;
    }

    .sheet-agree .terms-desc .desc-wrap .counsel-notice p {
        max-width: 368px
    }

    .sheet-agree .sheet-header > * {
        padding-right: 0px;
    }
}

/* ====== animation ====== */
@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up2 {
    0% {
        transform: translateY(100%) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes height {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes line-step {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}