/* [S] 기본속성 - 프로젝트 셋팅 이후 수정금지 */
$BasicFontFamily:'LIFEPLUS', '맑은 고딕', 'Malgun Gothic', 'Dotum', '돋움', 'gulim', '굴림', Helvetica, sans-serif;
$BasicFontWeight:300;
$BasicFontSize:10px;
$BasicLineHeight:1.5;
$BasicLetterSpacing:-0.04em;
$BasicColor:#000;
/* [S] 기본속성 - 프로젝트 셋팅 이후 수정금지 */