<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="title" content="">
	<meta name="description" content="" />
	<meta name="keywords" content="">
  <script src="../js/lib/jquery-3.7.0.min.js"></script>
  <script src="../js/lib/aos.js"></script>
  <script src="../js/lib/swiper-bundle.min.js"></script>
  <script src="../js/lib/TweenMax.min.js"></script>
  <script src="../js/script.js"></script>

	<link rel="stylesheet" href="../css/lib/aos.css">
	<link rel="stylesheet" href="../css/lib/swiper-bundle.min.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/A_Type.css">
</head>

<body>
  <div class="header">
    <a href="#visual" class="smooth-scroll btn-click logo"></a>
    <button class="hamburger menu-toggle" aria-label="메뉴"></button>
  </div>
  <button class="menu-toggle" aria-label="메뉴">
    <div class="hamburger-icon">
      <span></span>
      <img src="../images/temp/btn_close.jpg" class="btn_close" alt="">
    </div>
  </button>

  <nav class="nav">
    <ul>
      <li><a href="#contents01" class="smooth-scroll btn-click">LIFE MD 소개</a></li>
      <li><a href="#move_rect" class="smooth-scroll btn-click">LIFE MD 수입</a></li>
      <li><a href="#contents03" class="smooth-scroll btn-click">지원방법</a></li>
      <li><a href="#contents05" class="smooth-scroll btn-click">활동기</a></li>
      <li><a href="#contents04" class="smooth-scroll btn-click">FAQ</a></li>
    </ul>
  </nav>

  <div class="wrap">
    <div class="visual" id="visual">

    </div>

    <div id="container">
      <div class="contents contents01" id="contents01">
        <div class="textTitle">
          <b>LIFE MD</b> 는<br/>
          부수입을 N배 높여 줄 신개념 N잡이자,<br/>
          <strong>업계 최초 디지털 보험설계사</strong> 입니다.
        </div>
        <div class="benefitList">
          <ul>
            <li>
              <p><b>주요 9개 보험사</b><br/>상품 판매 가능!</p>
              <img src="../images/common/contents/contents01_list_icon_01.png" alt="">
            </li>
            <li>
              <p><b>업계 최고 수준</b><br/>수수료!</p>
              <img src="../images/common/contents/contents01_list_icon_02.png" alt="">
            </li>
            <li>
              <p><b>아낌없는</b><br/>교육지원!</p>
              <img src="../images/common/contents/contents01_list_icon_03.png" alt="">
            </li>
          </ul>
        </div>
        <div id="move_rect">
          <img src="../images/common/contents/contents01_move_rect_01.png" class="move_rect_icon_01" alt="">
          <img src="../images/common/contents/contents01_move_rect_02.png" class="move_rect_icon_02" alt="">
          <img src="../images/common/contents/contents01_move_rect_03.png" class="move_rect_icon_03" alt="">
        </div>
        <div class="contents01_Story">
          <div class="StoryTitle">
            현재 <b>LIFE MD</b> 는
            <p>월 <strong>최소 <em><i>30</i>만원</em></strong> 부터 <strong>최대 <em><i>2,943</i>만원</em></strong></p>
            까지 추가 소득을 내고 있습니다
          </div>
          <div class="storyList">
            <ul>
              <li>
                <img src="../images/common/contents/contents01_story_img_01.png" alt="">
                <p><strong>김XX</strong> (30대, 주부)</p>
                <div class="Text">
                  육아와 병행할 수 있는 일을<br/>
                  드디어 찾았어요! 
                </div>
              </li>
              <li>
                <img src="../images/common/contents/contents01_story_img_02.png" alt="">
                <p><strong>고XX</strong> (40대, 직장인)</p>
                <div class="Text">
                  LIFE MD 된 이후에,<br/>
                  은퇴 걱정 없는 사람은<br/>
                  저 밖에 없을 걸요? 
                </div>
              </li>
              <li>
                <img src="../images/common/contents/contents01_story_img_03.png" alt="">
                <p><strong>이XX</strong> (40대, 직장인)</p>
                <div class="Text">
                  회사 다니면서 틈틈이<br/>
                  내 것은 물론<br/>
                  가족 보험까지 살펴보고 있어요.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="contents contents02" id="contents02">
        <div class="textTitle">
          <em>LIFE MD</em> 는<br/>
          다음 질문에 <strong>모두 ‘YES!’</strong>입니다
        </div>
        <div class="qnaList">
          <div class="img"><img src="../images/common/contents/contents02_icon_01.png" alt=""></div>
          <ul>
            <li>평생직업! 120세 시대! <b>제 2의 인생</b>을 고민하고 있나요?</li>
            <li>맞춤교육! 각종 <b>재테크, 재무 관련 교육</b>을 듣고 싶나요? </li>
            <li>부담없이 시작할 수 있는 <b>안정적인 N잡</b>을 찾고 있나요?</li>
            <li><b>시간과 장소 상관 없이</b> 일하고 싶나요?</li>
            <li>더도 말고, 덜도 말고 딱! 내가 <b>일한 만큼 소득</b>이 생겼으면 하나요?</li>
            <li>시험접수부터 활동까지 <b>모두 스마트폰으로</b> 하면 좋을까요?</li>
          </ul>
        </div>
      </div>
      <div class="contents contents03" id="contents03">
        <div class="textTitle">
          그리고!<br/>
          어차피 필요했던 보험!<br/>
          이왕이면 <b>내가 직접계약해서 보험료 절감 효과</b>까지~ 
        </div>
        <div class="advisorBox">
          <div class="text">
            <dl>
              <dt>
                <em>LIFE MD</em> 가<br/>
                더 궁금해졌다면?  
              </dt>
              <dd>
                시험부터 실제 수익을 얻는 순간까지<br/>
                LIFE MD코치가 꼼꼼하게 안내해드립니다
              </dd>
            </dl>
          </div>
          <div class="img">
            <img src="../images/common/contents/contents03_icon_01.png" alt="">
            <button onclick="openBottomSheet('sheet-counsel')" class="button btn-click">어드바이저와 상담하기기</button>
          </div>
        </div>
      </div>
      <div class="contents contents04" id="contents04">
        <div class="textTitle">
          이게 가장 궁금하죠? <br/>
          <b>가장 많이 물어보는 내용</b>을 모아봤습니다          
        </div>
        <div class="qnaList">
          <ul>
            <li>
              <div class="qText">“수입은 어떻게 책정 되나요?”</div>
              <div class="aText">
                <div class="text">
                  LIFE MD는 보험설계사이기 때문에 계약을 체결하면 상품별로 
                  수수료가 발생해요. 그게 제 수익이 되는데요, 한화생명금융서비스는 
                  생명보험과 손해보험 모두를 판매할 수 있는 GA사라 자동차보험은 물론 
                  실손보험, 암보험 등을 내가 직접 설계해서 계약하고, 돈을 벌 수 있어요. 
                  어차피 필요했던 보험, 내 손으로 설계해서 직접 가입하니 
                  소득으로 연결되니, 덩달아 보험료도 절감됐네요!
                </div>
                <div class="info">
                  <p><strong>김XX</strong>42세</p>
                  <img src="../images/common/contents/contents04_story_icon_01.png" alt="">
                </div>
              </div>
            </li>
            <li>
              <div class="qText">“정말로, 누구나 지원하고 활동할 수 있나요?”</div>
              <div class="aText">
                <div class="text">
                  그럼요! 2년 전에 은퇴한 저도 했으니 지원하는 분들 모두 할 수 있어요!  
                  저는 은퇴 후, 적적하고 무기해서 소일거리를 찾고 있었어요. 
                  체력적으로 출퇴근은 어려울 것 같고,  돈은 벌고 싶었죠. 
                  그러다  우연히 LIFE MD를 알게 됐어요. 어드바이저가 알려준 
                  시험 준비 영상만 2~3일 정도 보고 시험 봤는데, 바로 합격했어요. 
                  얼마만에 느껴보는 성취감이었는지! 활동하면서 어려운 일 생길 때마다 
                  어드바이저에게 도움을 청하면 되니까 어렵지 않아요! 
                </div>
                <div class="info">
                  <p><strong>최XX</strong>58세</p>
                  <img src="../images/common/contents/contents04_story_icon_02.png" alt="">
                </div>
              </div>
            </li>
            <li>
              <div class="qText">“LIFE MD로 활동하며 따로 해야 할 것은 무엇인가요? ”</div>
              <div class="aText">
                <div class="text">
                  보험과는 담 쌓고 지내던 제가 시험에 덜컥 합격하고 나니, 
                  무엇부터 시작해야 할 지 막막하더라고요. 하지만 그 걱정도 잠시, 
                  합격되자마자 축하 문자와 함께 LIFE MD활동에 필요한 각종 이벤트, 
                  교육 등 각종 소식을 전하는 카카오 비즈니스 채널과 활동 지원 앱 링크를 
                  전달 받았어요. 어드바이저가 꼼꼼하게 활용방법도 알려 주셨고요. 
                  금융에 관한 전문적인 교육자료가 굉장히 많아서 금융 상식을 
                  꾸준히 배울 수 있어 좋아요.
                </div>
                <div class="info">
                  <p><strong>이XX</strong>38세</p>
                  <img src="../images/common/contents/contents04_story_icon_03.png" alt="">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="contents contents05" id="contents05">
        <div class="textTitle">
          나는 <em>LIFE MD</em> 입니다
          <span>현재 LIFE MD로 활발하게 활동 중인</span>
          <strong>MD님들의 생생한 활동기</strong>
        </div>
        <div class="youtubeBox">
          <ul>
            <li>
              <a href="https://www.youtube.com/watch?v=T4l3YcKD11k" class="left_link" target="_blank"></a>
              <p>LIFE MD가 된 이유</p>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=smuGjH9MLSU" class="right_link" target="_blank"></a>
              <p>LIFE MD가 평생 직업인 이유</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer" id="footer">
      <strong>한화생명금융서비스</strong>
      <div class="address">
        서울시 영등포구 63로 50(여의도동, 63한화 생명빌딩) 
        한화생명 금융서비스 대표이사 이경근
        공식 홈페이지 : orangecanvas.hanwhalifefs.com
        대표번호 02-789-5842
      </div>
      Hanwha life Financial Service all right Reserved.
    </div>
  </div>

		<!-- [S] 신청하기 버튼 -->
		<div class="btn-ask">
			<div class="inner">
				<button onclick="openBottomSheet('sheet-counsel')" class="button btn-click">무료 상담 신청하기</button>
			</div>
		</div>

		<!-- [D] 신청하기 -->
		<div id="sheet-counsel" class="bottom-sheet sheet-counsel">
			<div class="sheet-wrap">
				<div class="sheet-contents">
					<div class="content-title">
						<p class="desc">상담을 위한 최소한의 정보만 수집합니다.</p>
						<h4>아래의 정보를 입력해주세요.</h4>
					</div>
					<div id="inquiry">
						<div class="area_form">
              <div class="impColor">* 필수정보</div>
							<form name="Frm" id="Frm" method="post">
								<div class="form_box">
									<div class="input_item">
										<p class="reqiured">성명</p>
                    <div class="input-wrap">
                      <input type="text" name="user_name" id="user_name" placeholder="예&#41; 김한화" autocomplete="off">
                    </div>
									</div>
									<div class="input_item">
                    <p class="reqiured">전화번호</p>
                    <div class="tel_box">
                      <div class="select_box w-35p">
                        <label></label>
                        <select name="" id="job_div_cd" required>
                          <option value="" disabled selected>선택</option>
                          <option value="01">010</option>
                          <option value="02">011</option>
                          <option value="03">016</option>
                          <option value="04">017</option>
                          <option value="05">018</option>
                          <option value="06">019</option>
                        </select>
                      </div>
                      <div class="input-wrap">
                        <input type="tel" class="onlynumber01" id="user_call01" name="user_call01" maxlength="4" autocomplete="off" v-model="ctp" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                      </div>
                      <div class="input-wrap">
                        <input type="tel" class="onlynumber02" id="user_call02" name="user_call02" maxlength="4" autocomplete="off" v-model="ctp" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                      </div>
                    </div>
									</div>

									<div class="input_item">
										<p class="reqiured">주소</p>
										<ul class="select_box group">
											<li class="select_item">
												<label></label>
												<select name="user_sido" id="user_sido" required>
													<option value="" disabled selected>시/도</option>
													<option value="서울특별시">서울특별시</option>
													<option value="대구광역시">대구광역시</option>
												</select>

											</li>
											<li class="select_item">
												<label></label>
												<select name="user_gugun" id="user_gugun" required>
													<option value="" disabled selected>시/군/구</option>
													<option value="강남구">강남구</option>
												</select>
											</li>
										</ul>
									</div>

									<div class="input_item">
										<p class="reqiured">상담가능시간</p>
										<div class="adviceTime_box">
                      <div class="item">
                        <input type="radio" name="adviceTime_chk" id="am_chk" class="blind" checked>
                        <label for="am_chk">오전</label>
                      </div>
                      <div class="item">
                        <input type="radio" name="adviceTime_chk" id="pm_chk" class="blind">
                        <label for="pm_chk">오후</label>
                      </div>
                    </div>
									</div>

									<div class="input_item">
										<p class="reqiured">연령대</p>
										<div class="select_box w-35p">
											<label></label>
											<select name="" id="payment" required>
												<option value="" disabled selected>선택</option>
												<option value="02">20대</option>
												<option value="03">30대</option>
												<option value="04">40대</option>
												<option value="05">50대</option>
												<option value="06">60대 이상</option>
											</select>
										</div>
									</div>

									<div class="input_item input_item_06">
										<p class="reqiured">보험경력</p>
										<div class="select_box w-35p">
											<label></label>
											<select name="" id="career" required>
												<option value="" disabled selected>선택</option>
												<option value="01">없음</option>
												<option value="02">생명보험</option>
												<option value="03">손해보험</option>
												<option value="04">둘 다</option>
											</select>
										</div>
									</div>
									<p class="career_text">
										* 경력은 직전 3년 이내 1년 이상 생명보험설계사로 활동한 이력을 말하며,<br/> 
										기준 해당 시 자격시험이 면제됩니다.
									</p>

									<div class="input_item input_item_last">
										<p>직업(선택)</p>
										<div class="select_box w-35p">
											<label></label>
											<select name="" id="job_div_cd" required>
												<option value="" disabled selected>선택</option>
												<option value="01">회사원</option>
												<option value="02">개인사업자</option>
												<option value="03">학생</option>
												<option value="04">주부</option>
												<option value="05">무직</option>
											</select>
										</div>
									</div>
								</div>

								<div class="privacy-box">
									<div class="checkbox-agree">
										<input type="checkbox" name="" id="c_agree" class="blind">
										<label for="c_agree">LIFE MD 상담 진행을 위한 약관 전체에 동의합니다.</label>
									</div>
									<div class="checkbox-privacy">
										<input type="checkbox" name="agree_chk" id="c_terms" class="blind" value="terms">
										<label for="c_terms">LIFE MD 상담 진행을 위한 필수 항목 제공/수집/이용 동의 (필수)</label>
										<a href="javascript:void(0);" class="btn_privacy">자세히보기</a>
									</div>
									<div class="privacyText checkbox-privacy_text">
										(필수) 한화생명금융서비스 LIFE MD 지원 상담을 위해 아래와 같이  개인정보를 수집ㆍ이용 하고자 합니다.
                    <br/><br/>
                    ■ 수집ㆍ이용 목적<br/>
                        한화생명금융서비스 LIFE MD 지원 시 상담 진행 목적<br/>
                        한화생명금융서비스 LIFE MD 정보 및 지원 방법, 위촉 과정 안내 및 <br/>
                        진도 관리 (자격시험, 보험연수원 이수 진도 관리 포함) 
                        <br/><br/>
                    ■ 보유 및 이용기간<br/>
                        동의일로부터 6개월, 
                        <br/><br/>
                    ■ 수집ㆍ이용 항목<br/>
                        성명, 거주지역, 전화번호, 연령대, 상담가능시간, 보험경력
                        <br/><br/>
                    ■ 수집ㆍ이용 대상<br/>
                        한화생명금융서비스
                        <br/><br/>
                    ■ 거부 권리 및 불이익<br/>
                        귀하는 상기 동의를 거부할 수 있습니다.<br/>
                        단, 미동의 시 LIFE MD 직업 안내를 받지 못하며, LIFE MD 지원을<br/>
                      위한 자격시험 응시 및 지원과정 진행이 불가할 수 있습니다. 
									</div>
									<div class="checkbox-counsel">
										<input type="checkbox" name="agree_chk" id="c_counsel" class="blind" value="counsel">
										<label for="c_counsel">LIFE MD 상담 진행을 위한 선택 항목 제공/수집/이용 동의 (선택)</label>
										<a href="javascript:void(0);" class="btn_privacy">자세히보기</a>
									</div>
									<div class="privacyText checkbox-counsel_text">
										(선택) 한화생명금융서비스 LIFE MD 지원 상담을 위해 아래와 같이  개인정보를 수집ㆍ이용 하고자 합니다.
                    <br/><br/>
                    ■ 수집ㆍ이용 목적<br/>
                        한화생명금융서비스 LIFE MD 지원 시 상담 진행 목적<br/>
                        한화생명금융서비스 LIFE MD 정보 및 지원 방법, 위촉 과정 안내 및 <br/>
                        진도 관리 (자격시험, 보험연수원 이수 진도 관리 포함) 
                        <br/><br/>
                    ■ 보유 및 이용기간<br/>
                        동의일로부터 6개월
                        <br/><br/>
                    ■ 수집ㆍ이용 항목<br/>
                        직업
                        <br/><br/>
                    ■ 수집ㆍ이용 대상<br/>
                        한화생명금융서비스
                        <br/><br/>
                    ■ 거부 권리 및 불이익<br/>
                        귀하는 상기 동의를 거부할 수 있습니다.<br/>
                        단, 미동의 시 LIFE MD 직업 안내 시 제한이 있을 수 있으며, <br/>
                        LIFE MD 지원을 위한 자격시험 응시 및 지원과정 진행이 불가할 수<br/>
                        있습니다. 
									</div>
								</div>
							</form>
						</div>
						<div class="area_button">
							<!-- <button type="button" class="button btn_submit btn-click" data-title="상담신청 확인" onclick="save()" id="sendButton" disabled >신청 완료</button> -->
							<input type="hidden" id="is_saved" value="N">
              <button onclick="openBottomSheet('sheet-end')" class="button btn-click">신청완료</button>
						</div>
					</div>
				</div>

        <button onclick="closeAll(); init_value();" class="close-button btn-click" data-title="상담신청 닫기">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="36" height="36" fill="none">
            <path fill="#222" d="M21.172 24 5.586 8.414l2.828-2.828L24 21.17 39.586 5.586l2.828 2.828L26.83 24l15.585 15.586-2.828 2.828L24 26.828 8.414 42.414l-2.828-2.828L21.172 24Z"/>
          </svg>
        </button>
			</div>
		</div>

    <div id="sheet-end" class="bottom-sheet sheet-end">
      <div class="sheet-wrap">
				<div class="sheet-contents">
          <div class="text">
            <p>
              상담 신청이
              <strong>완료 되었습니다.</strong>
            </p>
            <span>* 상담은 입력하신 상담가능 시간에 맞춰
            순차적으로 연락 드립니다.</span>
          </div>
        </div>
      </div>

      <div class="imgInner">
        <div class="imgBox">
          <img src="../images/temp/popup_askEn.png" alt="">
          <button onclick="closeAll(); init_value();" class="btn_close"></button>
          <button onclick="closeAll(); init_value();" class="btn_end">확인</button>
        </div>
      </div>
    </div>
</body>
</html>