@charset "utf-8";
@import "fonts.scss";
@import "variable.scss";

/* reset */
* { margin: 0; padding: 0; border: 0; font: inherit; color: inherit; }
*, :after, :before { box-sizing: border-box; flex-shrink: 0; }
:root { -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1.5; overflow-wrap: break-word; word-break: break-word; tab-size: 4; }
html, body { height: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
ul, ol { margin: 0; padding: 0; list-style: none; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
button { background: none; border: 0; cursor: pointer; }
a { text-decoration: none; }
b, strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, select { font: inherit; }
button, input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer; }
input[type="text"], input[type="password"], textarea { -webkit-appearance: none; }

body {
  font-family: $BasicFontFamily;
    font-weight: $BasicFontWeight;
    font-size: $BasicFontSize;
    line-height: $BasicLineHeight;
    font-style: normal;
    letter-spacing: $BasicLetterSpacing;
    color: $BasicColor;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* hamburger */
.menu-toggle{
  display: none;
  position: absolute;
  right: 50%;
  top: 1%;
  margin-right: -30%;
}

.hamburger-icon {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  // background-color: #646058;

  span {
    display: none !important;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #222;
    top: 50%;
    left: 0;
    transition: transform 0.3s ease;

    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: -6px;
      transition: transform 0.3s ease;
      background-color: #222;
    }

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -6px;
      transition: transform 0.3s ease;
      background-color: #222;
    }
  }
}

.open .hamburger-icon {
  z-index: 10;

  span {
    transform: rotate(45deg);

    &::before{
      top: 0;
      transform: rotate(90deg);
    }

    &::after{
      bottom: 0;
      transform: rotate(90deg);
    }
  }
}

/* nav */
.nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 60px 30px;
  background-color: #fff;
  z-index: 5;

  li{
    padding-bottom: 5%;
    a{
      font-size: 30px;
    }
  }
}

.open + .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button */
.button {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 17px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: #242628;
}

.btn-ask {
  position: fixed;
  display: block;
  left: 0;
  bottom: 80px;
  width: 100%;
  text-align: center;
  z-index: 1;

  .button {
    display: block;
    width: 600px;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid #ff6000;
    background: #FF6600;
    font-size: 40px;

    @media(max-width:1250px){
      width: 500px;
      padding: 15px 0;
      font-size: 30px;
    }
    @media(max-width:700px){
      width: 350px;
      padding: 15px 0;
      font-size: 20px;
    }
  }
}

/* bottom sheet module */
.bottom-sheet {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  .sheet-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden auto;

    .content-title{
      padding: 0 0 15px 20px;
      text-align: left;
      background: url(../images/common/popup_titleBar.jpg) no-repeat left bottom;

      @media(max-width:768px){
        padding: 0 0 10px 10px;
      }

      p{
        font-size: 22px;

        @media(max-width:768px){
          font-size: 15px;
        }
      }

      h4{
        font-size: 38px;
        color: #fc6a09;

        @media(max-width:768px){
          font-size: 25px;
          font-weight: 500;
        }
      }
    }

    .sheet-contents {
      flex: 1;
      padding: 2rem 2rem;

      @media(max-width:768px){
        padding: 1rem;
      }
    }

    .close-button {
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 36px;
      height: 36px;
      z-index: 2;

      @media(max-width:768px){
        right: 1rem;
        top: 0.5rem;
        width: 20px;
        height: 20px;
      }
    }

    &.animate-up {
      animation: slide-up 0.3s ease-out;
      text-align: center;
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
  }

  &.open {
    display: block;
  }
}

/* formbox */
#inquiry {
  margin-top: 25px;

  @media(max-width:768px){
    margin-top: 10px;
  }
  
  .impColor{
    padding-bottom: 4px;
    font-size: 15px;
    color: #ff6600;
    text-align:right;
    font-weight: 400;

    @media(max-width:768px){
      padding-bottom: 0;
      font-size: 13px;
    }
  }

  .form_box {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 60px;
    flex-direction: column;

    @media(max-width:768px){
      padding-bottom: 30px;
    }

    & > div{
      margin-bottom: 20px;

      @media(max-width:768px){
        margin-bottom: 10px;
      }

      &.input_item_06{
        margin-bottom: 5px;
      }

      &.input_item_last{
        // margin-bottom: 5px;
        margin-bottom: 0px;
      }
    }

    .input_item {
      display: flex;
      align-items: center;

      p{
        width: 180px;
        padding-left: 15px;
        flex-shrink: 0;
        font-size: 17px;
        text-align: left;

        &.reqiured:after {
          display: inline-block;
          content: '*';
          padding-left: 3px;
          clear: both;
          color: #ff7324;
          font-size: 20px;
          font-weight: bold;
        }

        @media(max-width:768px){
          width: auto;
          padding-left: 0;
          padding-bottom: 3px;
          font-weight: 500;
          font-size: 14px;
        }
      }

      .tel_box{
        display: flex;
        flex-shrink: initial;

        div{
          display: flex;
          width: 20%;
          padding-left: 5%;
          grid-column-gap: 0;
          position: relative;

          &:first-child{
            padding-left: 0;

            &::before{
              content: "";
            }
          }

          &::before{
            content: "-";
            position: absolute;
            left: 5%;
            top: 25%;
          }
        }
      }

      @media(max-width:768px){
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .select_box {
      position: relative;
      grid-column-gap: 8px;
      flex-grow: 1;

      li {
        position: relative;
        flex: 1;
      }

      label {
        content: '';
        position: absolute;
        right: 16px;
        top: calc(50% - 3px);
        display: block;
        width: 0;
        height: 0;
      }

      select {
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 16px;
        color: #333;
        font-size: 16px;
        border: 1px solid #888;
        background: #fff;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../images/common/select_arr.jpg) no-repeat 95% 50%;

        &:focus {
          option {
            background: #fff;

            &[value=""][disabled] {
              display: none;
            }
          }
        }

        &:invalid {
          color: #999;
        }
      }

      &.group {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        @media(max-width:768px){
          width: 100%;
        }
      }

      &.w-35p{
        flex-grow: 0;
        flex-basis: 35%;
      }

      @media(max-width:768px){
        width: 100%;
      }
    }

    .adviceTime_box{
      display: flex;
      gap: 70px;

      input[type="radio"] + label {
        display: flex;
        width: fit-content;
        align-items: center;
        color: #777;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.03em;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
  
        &:before {
          content: '';
          display: inline-block;
          width: 36px;
          height: 36px;
          margin-right: 15px;
          background: url(../images/common/radioCheck.jpg) no-repeat center / 100% auto;

          @media(max-width:768px){
            width: 25px;
            height: 25px;
            margin-right: 10px;
          }
        }
      }
      input[type="radio"]:checked + label {
  
        &:before {
          background-image: url(../images/common/radioChecked.jpg);
        }
      }

      @media(max-width:768px){
        gap: 30%;
      }
    }

    .input-wrap{
      flex-grow: 1;

      @media(max-width:768px){
        width: 100%;
      }
    }

    input[type="text"] {
      width: 100%;
      height: 50px;
      line-height: 50px;
      flex-grow: 1;
      padding: 0 16px;
      color: #333;
      font-size: 16px;
      border-radius: 8px;
      letter-spacing: -0.03em;
      outline: none;
      border: 1px solid #888;
      background: #fff;
    }

    input[type="tel"] {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 16px;
      color: #333;
      font-size: 16px;
      border-radius: 8px;
      letter-spacing: -0.03em;
      outline: none;
      border: 1px solid #888;
      background: #fff;
    }

    b {
      display: flex;
      align-items: center;
      grid-column-gap: 8px;
    }

    small {
      color: #999;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: -0.03em;
    }
  }

  .career_text{
    margin-bottom: 20px;
    padding-left: 180px;
    text-align: left;
    font-size: 16px;
    color: #888;
    font-weight: 300;

    @media(max-width:768px){
      padding-left: 0;
      font-size: 14px;

      br{display: none;}
    }
  }

  .area_button{
    .button{
      font-size: 29px;
      font-weight: 500;
      border-radius: 50px;
      background-color: #ff8100;

      @media(max-width:768px){
        padding: 14px;
        font-size: 20px;
      }
    }
  }
}

/* checkbox */
.privacy-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 60px;
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;

  @media(max-width:768px){
    margin-bottom: 30px;
  }

  & > div{
    padding: 18px 20px;

    @media(max-width:768px){
      padding: 15px 22px 15px 10px;
    }
  }

  .checkbox-agree {
    border-bottom: 1px solid #ebebeb;
  }

  .checkbox-privacy{
    border-bottom: 1px solid #ebebeb;
  }

  div[class^="checkbox-"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    input[type="checkbox"] + label {
      display: flex;
      width: fit-content;
      align-items: center;
      color: #777;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: -0.03em;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      &:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 14px;
        background: url(../images/common/check.jpg) no-repeat center / 100% auto;

        @media(max-width:768px){
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }

      @media(max-width:768px){
        text-align: left;
        font-size: 15px;
      }
    }
    input[type="checkbox"]:checked + label {

      &:before {
        background-image: url(../images/common/checked.jpg);
      }
    }

    &.checkbox-agree {

      input[type="checkbox"] + label{
        font-weight: 500;
        color: #1b1b1b;
      }
    }
  }

  input[type="checkbox"] + label {
    display: flex;
    width: fit-content;
    align-items: center;
    color: #777;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .privacyText{
    display: none;
    height: 280px;
    overflow: auto;
    padding: 18px 20px;
    text-align: left;
    color: #666;
    line-height: 1.5;
    border-bottom: 1px solid #ebebeb;
    background: #fafafa;
    
    &.active{
      display: block;
      animation: fadeIn 0.3s ease-in-out;
    }
    @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(-10px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
    }

    @media(max-width:768px){
      padding: 10px 13px;
      font-size: 15px;
    }
  }

  .btn_privacy {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/common/arr_bottom.jpg) no-repeat 0 0 / 100% auto;
    text-indent: -999em;
  }
}

/* animation */
@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up2 {
    0% {
        transform: translateY(100%) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes height {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes line-step {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
  img.profile {
      width: 80px;
  }

  .desc {
      font-size: 22px;
  }

  .button {
      font-size: 20px;
  }

  .web-view {
      display: none;
  }

  .mob-view {
      display: block;
  }

  /* ====== header ====== */

  .hamburger-icon {
      width: 50px;
      height: 50px;
  }

  .hamburger-icon span::before {
      top: -10px;
  }

  .hamburger-icon span::after {
      bottom: -10px;
  }



  /* bottom sheet module */
  .bottom-sheet .sheet-wrap {
      max-width: 720px;
      margin: 0 auto;
  }
}


























// contents
.header{
  display: flex;
  width: 1200px;
  height: 100px;
  margin-left: -600px;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 10;
  align-items: center;
  justify-content: space-between;

  @media(max-width:1250px){
    width: 800px;
    margin-left: -400px;
  }
  @media(max-width:1000px){
    width: 650px;
    margin-left: -325px;
  }
  @media(max-width:700px){
    width: 450px;
    margin-left: -225px;
  }
  @media(max-width:470px){
    width: 400px;
    margin-left: -200px;
  }

  button{
    display: inline-flex;
    width: 50px;
    height: 50px;
    position: relative;
    right: auto;
    top: auto;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 50px;
    background-color: #645f57;

    i{
      display: block;
      width: 24px;
      height: 4px;
      transition: all 0.4s ease;
      border-radius: 5px;
      background-color: #fff;
    }

    &.open{
      i{
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}

.wrap{
  max-width: 1920px;
  min-width: 1240px;
  margin: 0 auto;

  @media(max-width:1250px){
    max-width: 1240px;
    min-width: 1000px;
  }
  @media(max-width:1000px){
    max-width: 990px;
    min-width: 427px;
  }

  .visual{
    height: 890px;
    overflow: hidden;
    position: relative;
    background: url(../images/A_Type/visual_bg.jpg) no-repeat center bottom;

    @media(max-width:1250px){
      height: 780px;
      background-size: auto 100%;
    }
    @media(max-width:1000px){
      height: 890px;
    }
    @media(max-width:700px){
      height: 780px;
    }
    @media(max-width:470px){
      height: 730px;
      padding: 0 3%;
    }

    .textTitle{
      display: flex;
      padding-top: 100px;
      flex-direction: column;
      align-items: center;

      @media(max-width:1250px){
        padding-top: 80px;
      }
      @media(max-width:1000px){
        padding-top: 130px;
      }
      @media(max-width:700px){
        padding-top: 110px;
      }
 
      strong{
        display: block;
        padding-bottom: 50px;
        position: relative;
        z-index: 2;
        font-size: 40px;
        color: #1a1a1a;
        font-weight: 500;

        @media(max-width:1250px){
          font-size: 30px;
        }
        @media(max-width:1000px){
          padding-bottom: 25px;
          font-size: 40px;
        }
        @media(max-width:700px){
          font-size: 30px;
        }
        @media(max-width:470px){
          font-size: 25px;
        }
      }

      img{
        position: relative;
        z-index: 0;

        @media(max-width:1250px){
          width: 520px;
        }
        @media(max-width:1250px){
          width: 640px;
        }
        @media(max-width:700px){
          width: 450px;
        }
      }

      .textBox{
        display: flex;
        width: 1120px;
        height: 80px;
        margin: 25px 0 35px;
        border-radius: 50px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(254, 247, 229, 0.7);

        @media(max-width:1250px){
          width: 810px;
          height: auto;
          margin: 25px 0 30px;
          padding: 20px 0;
        }
        @media(max-width:1000px){
          width: 640px;
          margin: 25px 0 25px;
        }
        @media(max-width:700px){
          width: 450px;
        }
        @media(max-width:470px){
          width: 100%;
        }

        p{
          padding: 0 85px;
          font-size: 26px;
          font-weight: 500;
          color: #666;

          @media(max-width:1250px){
            padding: 0 60px;
            font-size: 18px;
          }
          @media(max-width:1000px){
            padding: 0 35px;
            text-align: center;
          }
          @media(max-width:700px){
            font-size: 17px;
          }
          @media(max-width:470px){
            font-size: 15px;
          }

          b{
            color: #ff6600;

            @media(max-width:1000px){
              display: block;
            }
          }

          &:last-child{
            padding-right: 50px;

            @media(max-width:1250px){
              padding-right: 40px;
            }

            b{
              color: #1a1a1a;
            }
          }
        }
      }
    }

    &::after{
      content: "";
      width: 751px;
      height: 519px;
      margin-left: -145px;
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 1;
      background: url(../images/A_Type/visual_hand_bg.png) no-repeat left top;
      background-size: 100%;

      @media(max-width:1250px){
        width: 590px;
        height: 400px;
        margin-left: -112px;
      }
      @media(max-width:1000px){
        width: 690px;
        height: 470px;
        margin-left: -130px;
      }
      @media(max-width:700px){
        width: 527px;
        height: 470px;
        margin-left: -100px;
      }
    }

    .rollingBox{
      display: flex;
      padding-top: 85px;

      @media(max-width:1250px){
        padding-top: 50px;
      }
      @media(max-width:1000px){
        padding-top: 65px;
      }

      ul{
        position: relative;
        width: 500px;
        height: 220px;
        margin: 0 auto;
        z-index: 1;

        @media(max-width:1250px){
          width: 400px;
          height: 190px;
        }
        @media(max-width:1000px){
          width: 505px;
          height: 150px;
        }
        @media(max-width:700px){
          width: 380px;
        }
        @media(max-width:470px){
          width: 300px;
        }

        li{
          display: flex;
          width: 80%;
          height: 150px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
          border-radius: 10px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          font-size: 20px;
          color: #1a1a1a;
          font-weight: 500;
          background-color: #fff;

          @media(max-width:1250px){
            font-size: 17px;
          }
          @media(max-width:1000px){
            font-size: 20px;
          }
          @media(max-width:700px){
            font-size: 17px;
          }
          @media(max-width:470px){
            height: 120px;
            font-size: 15px;
          }

          &.active{
            width: 100%;
            z-index: 10;
          }

          strong{
            font-size: 24px;
            color: #ff7e00;
            line-height: 1.2;

            @media(max-width:1250px){
              font-size: 18px;
            }
            @media(max-width:1000px){
              font-size: 24px;
            }
            @media(max-width:1000px){
              font-size: 20px;
            }
            @media(max-width:470px){
              font-size: 18px;
            }

            i{
              font-size: 36px;
              line-height: 1.2;
              vertical-align: -4px;

              @media(max-width:1250px){
                font-size: 26px;
              }
              @media(max-width:1000px){
                font-size: 36px;
              }
              @media(max-width:1000px){
                font-size: 28px;
              }
              @media(max-width:470px){
                font-size: 25px;
              }
            }
          }
        }

        &::before{
          content: "";
          display: block;
          width: auto;
          height: 150px;
          position: absolute;
          left: 11px;
          right: 11px;
          top: 17px;
          border-radius: 10px;
          opacity: .5;
          background-color: #fff;
          
          @media(max-width:470px){
            height: 120px;
          }
        }

        &::after{
          content: "";
          display: block;
          width: auto;
          height: 150px;
          position: absolute;
          left: 21px;
          right: 21px;
          top: 29px;
          border-radius: 10px;
          opacity: .25;
          background-color: #fff;

          @media(max-width:470px){
            height: 120px;
          }
        }
      }
    }
  }

  #container{
    .contents{
      position: relative;
      z-index: 1;

      &.contents01{
        padding-top: 100px;

        @media(max-width:1250px){
          padding-top: 70px;
        }

        .textTitle{
          font-size: 50px;
          text-align:center;
          line-height: 1.3;

          @media(max-width:1250px){
            font-size: 37px;
          }
          @media(max-width:1000px){
            font-size: 22px;
            line-height: 1.4;
          }

          b{
            padding: 0 10px;
            color: #fff;
            font-weight: 700;
            background-color: #ff7e00;

            @media(max-width:1000px){
            padding: 0 5px;
            }
          }

          span{
            font-size: 53px;

            @media(max-width:1250px){
              font-size: 40px;
            }
            @media(max-width:1000px){
              font-size: 25px;
            }
          }

          strong{
            font-size: 58px;

            @media(max-width:1250px){
              font-size: 45px;
            }
            @media(max-width:1000px){
              font-size: 25px;
            }
          }
        }

        .benefitList{
          padding-top: 75px;
          position: relative;
          z-index: 1;

          @media(max-width:1250px){
            padding-top: 50px;
          }
          @media(max-width:1000px){
            padding-top: 30px;
          }

          ul{
            display: flex;
            gap: 15px;
            justify-content: center;

            @media(max-width:1000px){
              gap: 3%;
            }

            li{
              display: flex;
              width: 390px;
              height: 380px;
              text-align: center;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              border-radius: 40px;
              background-color: #fff5db;

              @media(max-width:1250px){
                width: 290px;
                height: 280px;
                border-radius: 30px;
              }
              @media(max-width:1000px){
                width: 30%;
                height: auto;
              }

              p{
                padding-top: 50px;
                color: #1a1a1a;
                font-weight: 700;
                font-size: 30px;
                line-height: 1.2;

                @media(max-width:1250px){
                  padding-top: 40px;
                  font-size: 24px;
                }
                @media(max-width:1000px){
                  padding-top: 11%;
                  font-size: 16px;
                }
                
                b{
                  color: #ff6000;
                }
              }

              img{
                vertical-align: top;

                @media(max-width:1000px){
                  padding-top: 15%;
                }
              }
            }
          }
        }

        #move_rect{
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 780px;
          margin-left: -31px;

          @media(max-width:1250px){
            width: 50px;
            top: 575px;
            margin-left: -25px;
          }
          @media(max-width:1000px){
            width: 4%;
            top: 35%;
            margin-left: -2%;
          }
        }

        .contents01_Story{
          margin-top: 120px;
          padding-bottom: 208px;
          position: relative;
          z-index: 1;

          @media(max-width:1250px){
            margin-top: 205px;
            padding-bottom: 280px;
            font-size: 24px;
          }
          @media(max-width:1000px){
            margin-top: 3%;
            padding-bottom: 20%;
          }

          .StoryTitle{
            padding-top: 100px;
            position: relative;
            z-index: 1;
            text-align: center;
            font-size: 50px;
            font-weight: 300;
            color: #fff;
            letter-spacing: -1px;
            line-height: 1.2;

            @media(max-width:1250px){
              padding-top: 0;
              font-size: 30px;
            }
            @media(max-width:1000px){
              padding-top: 10%;
              font-size: 22px;
            }

            b{
              display: inline-block;
              padding: 0 10px;
              color: #ff6000;
              line-height: 1.1;
              background-color: #fff;

              @media(max-width:1000px){
              padding: 0 5px;
              }
            }

            p{
              padding-top: 15px;
              font-size: 34px;
              font-weight: 300;
              letter-spacing: -3px;

              @media(max-width:1250px){
                padding-top: 5px;
                font-size: 30px;
                letter-spacing: 0;
              }
              @media(max-width:1000px){
                font-size: 22px;
                letter-spacing: -1px;
              }

              strong{
                font-weight: 700;

                em{
                  padding: 0 10px;
                  position: relative;
                  font-weight: 700;

                  @media(max-width:1250px){
                    padding: 0 5px;
                  }

                  i{
                    font-size: 82px;
                    font-weight: 700;
                    vertical-align: -13px;

                    @media(max-width:1250px){
                      font-size: 50px;
                      vertical-align: -4px;
                    }
                    @media(max-width:1000px){
                      font-size: 30px;
                      vertical-align: -5px;
                    }
                  }

                  &::after{
                    content: "";
                    height: 30px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -12px;
                    z-index: -1;
                    background-color: #ff6000;

                    @media(max-width:1250px){
                      bottom: -1px;
                    }
                  }
                }
              }
            }
          }

          .storyList{
            display: flex;
            position: relative;
            z-index: 1;
            padding-top: 23px;
            justify-content: center;

            @media(max-width:1250px){
              padding-top: 18px;
            }
            @media(max-width:1000px){
              justify-content: flex-start;
            }

            ul{
              display: flex;
              gap: 15px;

              @media(max-width:1000px){
                width: 100%;
                flex-direction: column;
                align-items: center;
                gap: 10px;
              }

              li{
                height: 550px;
                position: relative;
                text-align: center;

                @media(max-width:1250px){
                  width: 285px;
                  height: 430px;
                }
                @media(max-width:1000px){
                  display: flex;
                  width: 95%;
                  height: auto;
                  overflow: hidden;
                  flex-direction: row;
                  align-items: center;
                  border-radius: 10px;
                  background-color: #fff;
                }

                img{
                  @media(max-width:1000px){
                    width: 20%;
                  }
                }

                p{
                  padding-top: 15px;
                  font-size: 18px;
                  color: #555;
                  font-weight: 500;

                  @media(max-width:1250px){
                    padding-top: 10px;
                    font-size: 16px;
                  }
                  @media(max-width:1000px){
                    width: 23%;
                    padding: 0;
                    font-size: 13px;
                    text-align: center;
                  }

                  strong{
                    @media(max-width:1000px){
                      display: block;
                    }
                  }
                }

                .Text{
                  display: flex;
                  height: 160px;
                  font-size: 22px;
                  color: #1a1a1a;
                  font-weight: 500;
                  position: relative;
                  justify-content: center;
                  align-items: center;
                  line-height: 1.4;

                  @media(max-width:1250px){
                    height: 130px;
                    font-size: 17px;
                  }
                  @media(max-width:1000px){
                    font-size: 17px;
                    text-align: left;
                    flex: 1;
                  }

                  &::before{
                    content: "“";
                    position: absolute;
                    left: 31px;
                    top: 37px;
                    font-size: 50px;
                    line-height: 0;
                    color: #fd9a01;

                    @media(max-width:1250px){
                      left: 15px;
                    }
                  }

                  &::after{
                    content: "”";
                    position: absolute;
                    right: 31px;
                    bottom: 0;
                    font-size: 50px;
                    line-height: 0;
                    color: #fd9a01;

                    @media(max-width:1250px){
                      right: 15px;
                    }
                  }
                }

                &::after{
                  content: "";
                  width: 100%;
                  height: 371px;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  z-index: -1;
                  border-radius: 10px;
                  background-color: #fff;

                  @media(max-width:1250px){
                    height: 260px;
                  }
                  @media(max-width:1000px){
                    background: none;
                  }
                }
              }
            }
          }
          
          &::after{
            content: "";
            width: 1000px;
            height: 1000px;
            margin-left: -500px;
            position: absolute;
            left: 50%;
            bottom: 120px;
            z-index: 0;
            border-radius: 500px;
            background-color: #ff7e00;

            @media(max-width:1250px){
              width: 850px;
              height: 850px;
              margin-left: -425px;
              bottom: 117px;
            }

            @media(max-width:1000px){
              width: 80%;
              height: auto;
              margin-left: -40%;
              padding-top: 80%;
              bottom: auto;
              top: 4%;
            }
          }
        }

        &::after{
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          height: 70%;
          background-color: #ffab3a;

          @media(max-width:1250px){
            height: 71%;
          }
        }
      }

      &.contents02{
        padding: 115px 0 120px;
        background-color: #fef7e5;

        @media(max-width:1250px){
          padding: 70px 0 100px;
        }
        @media(max-width:1000px){
          padding: 40px 0 70px;
        }

        .textTitle{
          font-size: 50px;
          text-align:center;
          line-height: 1.3;
          font-weight: 300;

          @media(max-width:1250px){
            font-size: 40px;
          }
          @media(max-width:1000px){
            font-size: 20px;
          }

          em{
            display: inline-block;
            padding: 0 10px;
            color: #fff;
            font-weight: 700;
            line-height: 1.1;
            background-color: #ff7e00;

            @media(max-width:1000px){
              padding: 0 5px;
            }
          }

          strong{
            font-size: 58px;

            @media(max-width:1250px){
              font-size: 45px;
            }
            @media(max-width:1000px){
              font-size: 24px;
            }
          }
        }

        .qnaList{
          display: flex;
          align-items: center;
          flex-direction: column;

          .img{
            display: flex;
            width: 100%;
            padding: 50px 0 40px;
            justify-content: center;
            @media(max-width:1000px){
              padding: 5% 0 5%;
            }

            img{
              @media(max-width:1250px){
                width: 280px;
              }
              @media(max-width:1000px){
                width: 25%;
              }
            }
          }
          
          ul{
            display: flex;
            width: 720px;
            justify-content: center;
            flex-direction: column;
            border-top: 2px solid #efeadd;

            @media(max-width:1000px){
              width: 80%;
            }
            @media(max-width:1000px){
              width: 90%;
            }

            li{
              padding: 17px 0 17px 72px;
              font-size: 24px;
              font-weight: 500;
              color: #555;
              border-bottom: 2px solid #efeadd;
              background: url(../images/common/contents/contents02_list_checkIcon.png) no-repeat 30px center;

              @media(max-width:1250px){
                font-size: 22px;
              }
              @media(max-width:1000px){
                padding: 12px 0 12px 40px;
                font-size: 15px;
                background-position: 10px center;
                background-size: 20px;
              }

              img{
                @media(max-width:1250px){
                  width: 280px;
                }
              }
            }
          }
        }
      }

      &.contents03{
        display: flex;
        padding: 115px 0 120px;
        flex-direction: column;
        align-items: center;

        @media(max-width:1250px){
          padding: 70px 0 100px;
        }
        @media(max-width:1000px){
          padding: 40px 0 70px;
          overflow: hidden;
        }

        .textTitle{
          padding-bottom: 60px;
          font-size: 50px;
          text-align:center;
          line-height: 1.3;
          font-weight: 300;

          @media(max-width:1250px){
            font-size: 40px;
          }
          @media(max-width:1000px){
            font-size: 20px;
          }

          b{
            font-size: 58px;

            @media(max-width:1250px){
              font-size: 45px;
            }
            @media(max-width:1000px){
              font-size: 24px;
              letter-spacing: -1px;
            }
          }
        }

        .advisorBox{
          width: 760px;
          height: 760px;
          position: relative;
          text-align: center;
          border-radius: 50%;
          background-color: #ff7e00;

          @media(max-width:1250px){
            width: 600px;
            height: 600px;
          }
          @media(max-width:1000px){
            width: 400px;
            height: 400px;
          }

          &::before{
            display: block;
            content: "";
            width: 260px;
            height: 260px;
            position: absolute;
            left: -80px;
            top: 100px;
            z-index: -1;
            border-radius: 50%;
            background-color: #fef7e5;

            @media(max-width:1250px){
              width: 180px;
              height: 180px;
              left: -50px;
            }
            @media(max-width:1000px){
              width: 120px;
              height: 120px;
              left: -27px;
              top: 38px;
            }
          }

          .text{
            padding-top: 70px;

            @media(max-width:1000px){
            padding-top: 37px;
            }

            dl{
              color: #fff;
              dt{
                font-size: 50px;
                line-height: 1.5;
                font-weight: 300;

                @media(max-width:1250px){
                  font-size: 40px;
                }
                @media(max-width:1000px){
                  font-size: 20px;
                }
      
                em{
                  padding: 0 10px;
                  font-weight: 700;
                  color: #ff6000;
                  background-color: #fff;

                  @media(max-width:1000px){
                  padding: 0 5px;
                  }
                }
              }

              dd{
                padding-top: 30px;
                font-size: 32px;
                font-weight: 300;

                @media(max-width:1250px){
                  padding-top: 20px;
                  font-size: 26px;
                }
                @media(max-width:1000px){
                  font-size: 17px;
                }
              }
            }
          }

          .img{
            padding-top: 30px;
            position: relative;
            z-index: 2;
            text-align: center;

            @media(max-width:1250px){
              width: 60%;
              margin: 0 auto;
            }

            img{
              display: inline;
              vertical-align: top;
            }

            button{
              width: 420px;
              color: #ff6000;
              font-size: 32px;
              border-radius: 50px;
              background-color: #fff;

              @media(max-width:1250px){
                width: 320px;
                padding: 12px;
                font-size: 23px;
              }
              @media(max-width:1000px){
                width: 90%;
                min-width: 180px;
                padding: 10px;
                font-size: 16px;
              }
            }
          }

          &::after{
            display: block;
            content: "";
            width: 360px;
            height: 360px;
            position: absolute;
            right: -75px;
            bottom: 25px;
            z-index: 1;
            opacity: 0.7;
            border-radius: 50%;
            background-color: #ffc475;

            @media(max-width:1250px){
              width: 260px;
              height: 260px;
              right: -75px;
            }
            @media(max-width:1000px){
              width: 170px;
              height: 170px;
              right: -15px;
              bottom: 20px;
            }
          }
        }
      }

      &.contents04{
        padding: 115px 0 120px;
        background-color: #fef7e5;

        @media(max-width:1250px){
          padding: 70px 0 100px;
        }
        @media(max-width:1000px){
          padding: 40px 0 70px;
        }

        .textTitle{
          padding-bottom: 90px;
          font-size: 50px;
          text-align:center;
          line-height: 1.3;
          font-weight: 300;

          @media(max-width:1250px){
            padding-bottom: 70px;
            font-size: 40px;
          }
          @media(max-width:1000px){
            font-size: 20px;
          }

          b{
            font-size: 58px;

            @media(max-width:1250px){
              font-size: 45px;
            }
            @media(max-width:1000px){
              font-size: 24px;
            }
          }
        }

        .qnaList{
          width: 720px;
          margin: 0 auto;

          @media(max-width:1250px){
            width: 600px;
          }
          @media(max-width:1000px){
            width: 90%;
          }

          ul{
            display: flex;
            gap: 40px;
            flex-direction: column;

            @media(max-width:1250px){
              gap: 30px;
            }
            @media(max-width:1000px){
              gap: 50px;
            }


            li{

              .qText{
                display: flex;
                width: 650px;
                height: 62px;
                position: relative;
                font-size: 22px;
                color: #fff;
                font-weight: 700;
                align-items: center;
                border-radius: 40px;
                background: linear-gradient(to right, #ff6800, #ff8800);

                @media(max-width:1250px){
                  width: 500px;
                  font-size: 18px;
                  font-weight: 600;
                }
                @media(max-width:1000px){
                  width: 95%;
                  padding-right: 5%;
                  font-size: 17px;
                }

                &::before{
                  content: "Q.";
                  padding: 0 40px 0 30px;
                  font-size: 36px;

                  @media(max-width:1250px){
                    padding: 0 20px 0 25px;
                    font-size: 26px;
                  }
                  @media(max-width:1000px){
                    padding: 0 15px 0 20px;
                    font-size: 24px;
                  }
                }

                &::after{
                  content: "";
                  width: 43px;
                  height: 21px;
                  position: absolute;
                  left: 32px;
                  bottom: -19px;
                  background: url(../images/common/contents/contents4_qText_bubbleBg.png) no-repeat left top;
                  
                  @media(max-width:1000px){
                    background-size: 100%;
                    width: 43px;
                    height: 21px;
                    bottom: -14px;
                    left: 20px;
                  }
                }
              }

              .aText{
                width: 650px;
                margin: 20px 0 0 70px;
                padding: 40px;
                position: relative;
                border: 1px solid #ffab3a;
                border-radius: 10px;
                background: #fff;

                @media(max-width:1250px){
                  width: 500px;
                  margin: 20px 0 0 100px;
                  padding: 20px;
                }
                @media(max-width:1000px){
                  width: 95%;
                  margin: 25px 0 0 0;
                  padding: 15px;
                }

                .text{
                  font-size: 20px;
                  color: #555;
                  font-weight: 300;
                  line-height: 1.8;

                  @media(max-width:1250px){
                    font-size: 17px;
                  }

                  br{
                    @media(max-width:1000px){
                      display: none;
                    }
                  }
                  i{
                    @media(max-width:1000px){
                      display: block;
                    }
                  }
                }

                .info{
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-end;

                  @media(max-width:1000px){
                    padding-top: 20px;
                  }

                  p{
                    padding: 0 16px 13px 0;
                    font-size: 20px;
                    color: #1a1a1a;
                    font-weight: 500;

                    @media(max-width:1250px){
                      font-size: 18px;
                    }
                    @media(max-width:1000px){
                      font-size: 15px;
                    }

                    strong{
                      padding-right: 5px;
                    }
                  }

                  img{
                    @media(max-width:1000px){
                      width: 70px;
                    }
                  }
                }

                &::after{
                  content: "";
                  width: 36px;
                  height: 22px;
                  position: absolute;
                  right: 32px;
                  bottom: -20px;
                  background: url(../images/common/contents/contents4_aText_bubbleBg.png) no-repeat left top;
                
                  @media(max-width:1000px){
                    background-size: 100%;
                    width: 33px;
                    height: 20px;
                    bottom: -18px;
                  }
                }
              }
            }
          }
        }
      }

      &.contents05{
        padding-top: 115px;
        position: relative;
        background-color: #ff7e00;

        @media(max-width:1250px){
          padding: 70px 0 0;
        }
        @media(max-width:1000px){
          padding: 40px 0 0;
        }

        .textTitle{
          font-size: 50px;
          text-align:center;
          line-height: 1.3;
          font-weight: 300;
          color: #fff;

          @media(max-width:1250px){
            font-size: 40px;
          }
          @media(max-width:1000px){
            font-size: 20px;
          }

          em{
            display: inline-block;
            padding: 0 10px;
            color: #ff6000;
            line-height: 1.1;
            font-weight: 700;
            background-color: #fff;

            @media(max-width:1000px){
            padding: 0 5px;
            }
          }

          strong{
            font-size: 58px;

            @media(max-width:1250px){
              font-size: 45px;
            }
            @media(max-width:1000px){
              font-size: 24px;
            }
          }
        }

        .youtubeBox{
          padding-top: 100px;
          position: relative;
          z-index: 2;

          @media(max-width:1250px){
            padding-top: 70px;
          }
          @media(max-width:1000px){
            padding-top: 50px;
          }

          ul{
            display: flex;
            justify-content: center;
            gap: 20px;

            @media(max-width:1000px){
              flex-direction: column;
              align-items: center;
            }

            li{
              width: 560px;
              height: 390px;
              padding-top: 17px;
              text-align: center;
              border-radius: 10px;
              box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
              background-color: #fff5db;

              @media(max-width:1250px){
                width: 470px;
                height: 320px;
              }
              @media(max-width:1000px){
                width: 80%;
                height: auto;
              }

              .item{
                width: 520px;
                height: 293px;
                margin: 0 auto;

                @media(max-width:1250px){
                  width: 430px;
                  height: 240px;
                }
                @media(max-width:1000px){
                  width: 92%;
                  height: auto;
                  position: relative;
                  padding-top: 50%;
                }

                iframe{
                  @media(max-width:1000px){
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
              }

              p{
                padding: 20px 0 0 32px;
                font-size: 20px;
                color: #1a1a1a;
                font-weight: 500;
                line-height: 1.5;
                text-align: left;

                @media(max-width:1250px){
                  padding: 15px 0 0 27px;
                  font-size: 17px;
                  font-weight: 400;
                }
                @media(max-width:1000px){
                  padding: 10px 0 15px 27px;
                }
              }
            }
          }
        }

        &::after{
          content: "";
          width: 100%;
          height: 130px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #fff;
        }
      }
    }
  }

  .footer{
    padding: 120px 0 130px;
    text-align: center;
    color:#888;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;

    @media(max-width:1250px){
      padding: 100px 0 110px;
    }
    @media(max-width:1000px){
      padding: 70px 0 90px;
    }

    strong{
      color: #555;
    }

    .address{
      padding-bottom: 20px;
    }
  }
}

#sheet-end{

  .sheet-contents{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .text{
      p{
        padding-bottom: 25px;
        font-size: 46px;
        color: #1a1a1a;
        font-weight: 300;
        line-height: 1.2;

        strong{
          display: block;
        }
      }

      span{
        font-size: 20px;
        font-weight: 300;
        color: #666;
      }
    }
  }

  .btn_close{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 40px;
    top: 40px;
    background: url(../images/common/btn_close.jpg) no-repeat left top;
  }

  .btn_end{
    width: 80%;
    margin: 0 auto 50px;
    padding: 24px 0;
    font-size: 28px;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
    background-color: #ff8400;
  }
}
