@charset "utf-8";

/**
* base.font
* ------------------
*LIFEPLUS
*/

	@font-face {
		font-family: 'LIFEPLUS';
		font-style: normal;
		font-weight: 300;
		src: url(../fonts/LIFEPLUS-Light.eot);
		src: url(../fonts/LIFEPLUS-Light?#iefix) format('embedded-opentype'),
			 url(../fonts/LIFEPLUS-Light.woff) format('woff'),
			 url(../fonts/LIFEPLUS-Light.ttf) format('truetype');
	}

	@font-face {
		font-family: 'LIFEPLUS';
		font-style: normal;
		font-weight: 500;
		src: url(../fonts/LIFEPLUS-Medium.eot);
		src: url(../fonts/LIFEPLUS-Medium?#iefix) format('embedded-opentype'),
			 url(../fonts/LIFEPLUS-Medium.woff) format('woff'),
			 url(../fonts/LIFEPLUS-Medium.ttf) format('truetype');
	}

	@font-face {
		font-family: 'LIFEPLUS';
		font-style: normal;
		font-weight: 700;
		src: url(../fonts/LIFEPLUS-Bold.eot);
		src: url(../fonts/LIFEPLUS-Bold?#iefix) format('embedded-opentype'),
			 url(../fonts/LIFEPLUS-Bold.woff) format('woff'),
			 url(../fonts/LIFEPLUS-Bold.ttf) format('truetype');
	}
	
	@font-face {
		font-family: 'LIFEPLUS-BODY';
		font-style: normal;
		font-weight: 300;
		src: url(../fonts/LIFEPLUSBODYLight.eot);
		src: url(../fonts/LIFEPLUSBODYLight?#iefix) format('embedded-opentype'),
			 url(../fonts/LIFEPLUSBODYLight.woff) format('woff'),
			 url(../fonts/LIFEPLUSBODYLight.ttf) format('truetype');
	}

	@font-face {
		font-family: 'LIFEPLUS-BODY';
		font-style: normal;
		font-weight: 500;
		src: url(../fonts/LIFEPLUSBODYMedium.eot);
		src: url(../fonts/LIFEPLUSBODYMedium?#iefix) format('embedded-opentype'),
			 url(../fonts/LIFEPLUSBODYMedium.woff) format('woff'),
			 url(../fonts/LIFEPLUSBODYMedium.ttf) format('truetype');
	}